In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [3]:
ncd = pd.read_csv('/Users/user/Documents/진행중 업무/ncd_metering2.csv')

/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_70492/4125878327.py:1: DtypeWarning: Columns (31,35,36,41,43,47,48,49,50) have mixed types. Specify dtype option on import or set low_memory=False.
  ncd = pd.read_csv('/Users/user/Documents/진행중 업무/ncd_metering2.csv')

In [4]:
ncd7 = ncd[ncd['regist_ymd'].str[0:7] == '2024.7.']
ncd_cort7 = ncd7[ncd7['plan'] == 'COR_T']

In [5]:
import pandas as pd

# 예제 데이터
df = pd.DataFrame(ncd_cort7)

# 날짜 형식 변환
df['calc_ymd'] = pd.to_datetime(df['calc_ymd'], format='%Y.%m.%d')
df['regist_ymd'] = pd.to_datetime(df['regist_ymd'], format='%Y.%m.%d')

# 회원번호별 및 regist_ymd별로 필요한 사용량 추출
result = df.groupby(['회원번호', 'regist_ymd'], as_index=False).apply(
    lambda x: pd.Series({
        '사용량_당일': x.loc[x['calc_ymd'] == x['regist_ymd'].iloc[0], '사용량'].values[0] if not x.loc[x['calc_ymd'] == x['regist_ymd'].iloc[0]].empty else None,
        '사용량_30일후': x.loc[x['calc_ymd'] == x['regist_ymd'].iloc[0] + pd.Timedelta(days=30), '사용량'].values[0] if not x.loc[x['calc_ymd'] == x['regist_ymd'].iloc[0] + pd.Timedelta(days=30)].empty else None,
        '사용량_60일후': x.loc[x['calc_ymd'] == x['regist_ymd'].iloc[0] + pd.Timedelta(days=60), '사용량'].values[0] if not x.loc[x['calc_ymd'] == x['regist_ymd'].iloc[0] + pd.Timedelta(days=60)].empty else None,
        '사용량_90일후': x.loc[x['calc_ymd'] == x['regist_ymd'].iloc[0] + pd.Timedelta(days=90), '사용량'].values[0] if not x.loc[x['calc_ymd'] == x['regist_ymd'].iloc[0] + pd.Timedelta(days=90)].empty else None
    }),
).reset_index()

result

/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_53220/415252145.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result = df.groupby(['회원번호', 'regist_ymd'], as_index=False).apply(

      index     회원번호 regist_ymd  사용량_당일  사용량_30일후  사용량_60일후  사용량_90일후
0         0   815213 2024-07-25     1.0       0.0       0.0       0.0
1         1   818044 2024-07-02     1.0       0.0       0.0       0.0
2         2  1069364 2024-07-15     2.0       0.0       0.0       0.0
3         3  2528372 2024-07-11     1.0       0.0       0.0       0.0
4         4  2529763 2024-07-05     1.0       0.0       0.0       0.0
...     ...      ...        ...     ...       ...       ...       ...
3861   3861  3383715 2024-07-31     1.0       0.0       0.0       0.0
3862   3862  3383727 2024-07-31     1.0       0.0       0.0       0.0
3863   3863  3383737 2024-07-31     1.0       NaN       NaN       NaN
3864   3864  3383741 2024-07-31     1.0       0.0       0.0       0.0
3865   3865  3383748 2024-07-31     1.0       0.0       0.0       0.0

[3866 rows x 7 columns]

In [11]:
result.to_excel('/Users/user/Documents/진행중 업무/cor_t_user_transitions.xlsx', index=False)

In [3]:
ncd_corlt = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corlt2411.xlsx')
ncd_corstd = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstd2411.xlsx')
ncd_corstdp = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstdp2411.xlsx')
ncd_cort = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_cort2411.xlsx')
ncd_drv = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_drv2411.xlsx')
ncd_app = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app2411.xlsx')
ncd_att = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_att2411.xlsx')
ncd_fin = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_fin2411.xlsx')
ncd_pay = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_pay2411.xlsx')
ncd_cnt = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_cnt2411.xlsx')

In [30]:
ncd = pd.concat([ncd_corlt, ncd_corstd, ncd_corstdp, ncd_cort, ncd_drv, ncd_app, ncd_att, ncd_fin, ncd_pay, ncd_cnt])
ncd_20241105 = ncd[ncd['미터링일시']==20241105]
ncd_t = ncd_20241105[ncd_20241105['요금']==0]
ncd_t_user0 = ncd_t[ncd_t['사용량']==0]

In [34]:
ncd_t_user0.to_csv('/Users/user/Documents/진행중 업무/trial_no_user.csv', index=False)