In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
plt.rcParams['font.family'] = 'AppleGothic'

pd.set_option('display.max_columns', None)

In [99]:
boa1 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202201)new.xlsx')
boa2 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202202)new.xlsx')
boa3 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202203)new.xlsx')
boa4 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202204)new.xlsx')
boa5 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202205)new.xlsx')
boa6 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202206)new.xlsx')
boa7 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202207)new.xlsx')
boa8 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202208)new.xlsx')
boa9 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202209)new.xlsx')
boa10 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202210)new.xlsx')
boa11 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202211)new.xlsx')
boa12 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202212)new.xlsx')
boa13 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202301)new.xlsx')
boa14 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202302)new.xlsx')
boa15 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202303)new.xlsx')
boa16 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202304)new.xlsx')
boa17 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202305)new.xlsx')
boa18 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202306)new.xlsx')
boa19 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202307)new.xlsx')
boa20 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202308)new.xlsx')
boa21 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202309)new.xlsx')
boa22 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202310)new.xlsx')
boa23 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202311)new.xlsx')
boa24 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202312)new.xlsx')
boa25 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202401)new.xlsx')
boa26 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202402)new.xlsx')
boa27 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202403)new.xlsx')
boa28 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202404)new.xlsx')
boa29 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202405)new.xlsx')
boa30 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202406)new.xlsx')
boa31 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202407)new.xlsx')
boa32 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202408)new.xlsx')
boa33 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202409)new.xlsx')
boa34 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202410)new.xlsx')
boa35 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/BOA(202411)new.xlsx')
boa36 = pd.read_excel('/Users/user/Documents/진행중 업무/데이터/BOA/202412 BOA (New).xlsx')

In [100]:
boa1['NCP회원번호'] = pd.to_numeric(boa1['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa2['NCP회원번호'] = pd.to_numeric(boa2['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa3['NCP회원번호'] = pd.to_numeric(boa3['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa4['NCP회원번호'] = pd.to_numeric(boa4['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa5['NCP회원번호'] = pd.to_numeric(boa5['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa6['NCP회원번호'] = pd.to_numeric(boa6['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa7['NCP회원번호'] = pd.to_numeric(boa7['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa8['NCP회원번호'] = pd.to_numeric(boa8['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa9['NCP회원번호'] = pd.to_numeric(boa9['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa10['NCP회원번호'] = pd.to_numeric(boa10['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa11['NCP회원번호'] = pd.to_numeric(boa11['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa12['NCP회원번호'] = pd.to_numeric(boa12['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa13['NCP회원번호'] = pd.to_numeric(boa13['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa14['NCP회원번호'] = pd.to_numeric(boa14['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa15['NCP회원번호'] = pd.to_numeric(boa15['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa16['NCP회원번호'] = pd.to_numeric(boa16['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa17['NCP회원번호'] = pd.to_numeric(boa17['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa18['NCP회원번호'] = pd.to_numeric(boa18['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa19['NCP회원번호'] = pd.to_numeric(boa19['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa20['NCP회원번호'] = pd.to_numeric(boa20['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa21['NCP회원번호'] = pd.to_numeric(boa21['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa22['NCP회원번호'] = pd.to_numeric(boa22['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa23['NCP회원번호'] = pd.to_numeric(boa23['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa24['NCP회원번호'] = pd.to_numeric(boa24['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa25['NCP회원번호'] = pd.to_numeric(boa25['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa26['NCP회원번호'] = pd.to_numeric(boa26['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa27['NCP회원번호'] = pd.to_numeric(boa27['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa28['NCP회원번호'] = pd.to_numeric(boa28['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa29['NCP회원번호'] = pd.to_numeric(boa29['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa30['NCP회원번호'] = pd.to_numeric(boa30['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa31['NCP회원번호'] = pd.to_numeric(boa31['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa32['NCP회원번호'] = pd.to_numeric(boa32['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa33['NCP회원번호'] = pd.to_numeric(boa33['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa34['NCP회원번호'] = pd.to_numeric(boa34['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa35['NCP회원번호'] = pd.to_numeric(boa35['NCP회원번호'], errors='coerce').fillna(0).astype(int)
boa36['NCP회원번호'] = pd.to_numeric(boa36['NCP회원번호'], errors='coerce').fillna(0).astype(int)

In [29]:
paydb_base0 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/기본 상품/2021년 12월 31일 base.csv')
paydb_base_2022 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/기본 상품/2022년 월간 base (마지막 주 수요일 기준).csv')
paydb_base_2023 = pd.read_csv('/Users/user/Documents/진행중 업무/2023년 주간 base.csv')
paydb_base_2024 = pd.read_csv('/Users/user/Documents/진행중 업무/2024년 base(~2024.6.3) 주간.csv')
paydb_base30 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/기본 상품/2024년 6월 base(6:4~).csv')
paydb_base31 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/기본 상품/2024년 7월 base.csv')
paydb_base32 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/기본 상품/2024년 8월 base.csv')
paydb_base33 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/기본 상품/2024년 9월 base.csv')
paydb_base34 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/기본 상품/2024년 10월 base.csv')
paydb_base35 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/기본 상품/2024년 11월 base.csv')
paydb_base36_1 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/기본 상품/2024년 12월(~12:28) base.csv')
paydb_base36_2 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/기본 상품/pay 2024.12.29~31 (base).csv')

paydb_option0 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/옵션 상품/2021년 12월 31일 option.csv')
paydb_option_2022 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/옵션 상품/2022년 월간 option (마지막 주 수요일 기준).csv')
paydb_option_2023 = pd.read_csv('/Users/user/Documents/진행중 업무/2023년 option(주간).csv')
paydb_option_2024 = pd.read_csv('/Users/user/Documents/진행중 업무/2024년 option 주간(~2024.6.3).csv')
paydb_option30 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/옵션 상품/2024년 6월 option(6:4~).csv')
paydb_option31 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/옵션 상품/2024년 7월 option.csv')
paydb_option32 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/옵션 상품/2024년 8월 option.csv')
paydb_option33 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/옵션 상품/2024년 9월 option.csv')
paydb_option34 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/옵션 상품/2024년 10월 option.csv')
paydb_option35 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/옵션 상품/2024년 11월 option.csv')
paydb_option36_1 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/옵션 상품/2024년 12월 option (~12:28).csv')
paydb_option36_2 = pd.read_csv('/Users/user/Documents/진행중 업무/데이터/Paydb/옵션 상품/pay 2024.12.29~31 (option).csv')

In [6]:
ncd_lt13 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2301.xlsx')
ncd_lt14 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2302.xlsx')
ncd_lt15 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2303.xlsx')
ncd_lt16 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2304.xlsx')
ncd_lt17 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2305.xlsx')
ncd_lt18 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2306.xlsx')
ncd_lt19 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2307.xlsx')
ncd_lt20 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2308.xlsx')
ncd_lt21 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2309.xlsx')
ncd_lt22 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2310.xlsx')
ncd_lt23 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2311.xlsx')
ncd_lt24 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2312.xlsx')
ncd_lt25 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2401.xlsx')
ncd_lt26 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2402.xlsx')
ncd_lt27 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2403.xlsx')
ncd_lt28 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2404.xlsx')
ncd_lt29 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2405.xlsx')
ncd_lt30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_workslt2406.xlsx')
ncd_corlt30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corlt2406.xlsx')
ncd_corlt31 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corlt2407.xlsx')
ncd_corlt32 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corlt2408.xlsx')
ncd_corlt33 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corlt2409.xlsx')
ncd_corlt34 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corlt2410.xlsx')
ncd_corlt35 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corlt2411.xlsx')
ncd_corlt36 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corlt2412.xlsx')
ncd_corlt37 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corlt2501.xlsx')

In [7]:
ncd_bs13 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2301.xlsx')
ncd_bs14 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2302.xlsx')
ncd_bs15 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2303.xlsx')
ncd_bs16 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2304.xlsx')
ncd_bs17 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2305.xlsx')
ncd_bs18 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2306.xlsx')
ncd_bs19 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2307.xlsx')
ncd_bs20 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2308.xlsx')
ncd_bs21 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2309.xlsx')
ncd_bs22 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2310.xlsx')
ncd_bs23 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2311.xlsx')
ncd_bs24 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2312.xlsx')
ncd_bs25 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2401.xlsx')
ncd_bs26 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2402.xlsx')
ncd_bs27 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2403.xlsx')
ncd_bs28 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2404.xlsx')
ncd_bs29 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2405.xlsx')
ncd_bs30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbs2406.xlsx')
ncd_corstd30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstd2406.xlsx')
ncd_corstd31 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstd2407.xlsx')
ncd_corstd32 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstd2408.xlsx')
ncd_corstd33 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstd2409.xlsx')
ncd_corstd34 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstd2410.xlsx')
ncd_corstd35 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstd2411.xlsx')
ncd_corstd36 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstd2412.xlsx')
ncd_corstd37 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstd2501.xlsx')

In [8]:
ncd_prm13 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2301.xlsx')
ncd_prm14 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2302.xlsx')
ncd_prm15 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2303.xlsx')
ncd_prm16 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2304.xlsx')
ncd_prm17 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2305.xlsx')
ncd_prm18 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2306.xlsx')
ncd_prm19 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2307.xlsx')
ncd_prm20 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2308.xlsx')
ncd_prm21 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2309.xlsx')
ncd_prm22 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2310.xlsx')
ncd_prm23 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2311.xlsx')
ncd_prm24 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2312.xlsx')
ncd_prm25 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2401.xlsx')
ncd_prm26 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2402.xlsx')
ncd_prm27 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2403.xlsx')
ncd_prm28 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2404.xlsx')
ncd_prm29 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2405.xlsx')
ncd_prm30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprm2406.xlsx')
ncd_corstdp30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstdp2406.xlsx')
ncd_corstdp31 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstdp2407.xlsx')
ncd_corstdp32 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstdp2408.xlsx')
ncd_corstdp33 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstdp2409.xlsx')
ncd_corstdp34 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstdp2410.xlsx')
ncd_corstdp35 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstdp2411.xlsx')
ncd_corstdp36 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstdp2412.xlsx')
ncd_corstdp37 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_corstdp2501.xlsx')

In [9]:
ncd_ltt13 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2301.xlsx')
ncd_ltt14 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2302.xlsx')
ncd_ltt15 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2303.xlsx')
ncd_ltt16 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2304.xlsx')
ncd_ltt17 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2305.xlsx')
ncd_ltt18 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2306.xlsx')
ncd_ltt19 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2307.xlsx')
ncd_ltt20 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2308.xlsx')
ncd_ltt21 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2309.xlsx')
ncd_ltt22 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2310.xlsx')
ncd_ltt23 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2311.xlsx')
ncd_ltt24 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2312.xlsx')
ncd_ltt25 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2401.xlsx')
ncd_ltt26 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2402.xlsx')
ncd_ltt27 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2403.xlsx')
ncd_ltt28 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2404.xlsx')
ncd_ltt29 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2405.xlsx')
ncd_ltt30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksltt2406.xlsx')

ncd_bst13 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2301.xlsx')
ncd_bst14 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2302.xlsx')
ncd_bst15 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2303.xlsx')
ncd_bst16 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2304.xlsx')
ncd_bst17 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2305.xlsx')
ncd_bst18 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2306.xlsx')
ncd_bst19 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2307.xlsx')
ncd_bst20 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2308.xlsx')
ncd_bst21 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2309.xlsx')
ncd_bst22 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2310.xlsx')
ncd_bst23 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2311.xlsx')
ncd_bst24 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2312.xlsx')
ncd_bst25 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2401.xlsx')
ncd_bst26 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2402.xlsx')
ncd_bst27 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2403.xlsx')
ncd_bst28 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2404.xlsx')
ncd_bst29 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2405.xlsx')
ncd_bst30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksbst2406.xlsx')

ncd_prmt13 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2301.xlsx')
ncd_prmt14 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2302.xlsx')
ncd_prmt15 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2303.xlsx')
ncd_prmt16 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2304.xlsx')
ncd_prmt17 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2305.xlsx')
ncd_prmt18 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2306.xlsx')
ncd_prmt19 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2307.xlsx')
ncd_prmt20 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2308.xlsx')
ncd_prmt21 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2309.xlsx')
ncd_prmt22 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2310.xlsx')
ncd_prmt23 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2311.xlsx')
ncd_prmt24 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2312.xlsx')
ncd_prmt25 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2401.xlsx')
ncd_prmt26 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2402.xlsx')
ncd_prmt27 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2403.xlsx')
ncd_prmt28 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2404.xlsx')
ncd_prmt29 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2405.xlsx')
ncd_prmt30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_worksprmt2406.xlsx')

In [10]:
ncd_cort30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_cort2406.xlsx')
ncd_cort31 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_cort2407.xlsx')
ncd_cort32 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_cort2408.xlsx')
ncd_cort33 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_cort2409.xlsx')
ncd_cort34 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_cort2410.xlsx')
ncd_cort35 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_cort2411.xlsx')
ncd_cort36 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_cort2412.xlsx')
ncd_cort37 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_cort2501.xlsx')

In [11]:
ncd_drv28 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_drv2404.xlsx')
ncd_drv29 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_drv2405.xlsx')
ncd_drv30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_drv2406.xlsx')
ncd_drv31 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_drv2407.xlsx')
ncd_drv32 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_drv2408.xlsx')
ncd_drv33 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_drv2409.xlsx')
ncd_drv34 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_drv2410.xlsx')
ncd_drv35 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_drv2411.xlsx')
ncd_drv36 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_drv2412.xlsx')
ncd_drv37 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_drv2501.xlsx')

In [12]:
ncd_cnt34 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_cnt2410.xlsx')
ncd_cnt35 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_cnt2411.xlsx')
ncd_cnt36 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_cnt2412.xlsx')
ncd_cnt37 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_cnt2501.xlsx')

In [13]:
ncd_placeltt13 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2301.xlsx')
ncd_placeltt14 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2302.xlsx')
ncd_placeltt15 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2303.xlsx')
ncd_placeltt16 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2304.xlsx')
ncd_placeltt17 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2305.xlsx')
ncd_placeltt18 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2306.xlsx')
ncd_placeltt19 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2307.xlsx')
ncd_placeltt20 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2308.xlsx')
ncd_placeltt21 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2309.xlsx')
ncd_placeltt22 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2310.xlsx')
ncd_placeltt23 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2311.xlsx')
ncd_placeltt24 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2312.xlsx')
ncd_placeltt25 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2401.xlsx')
ncd_placeltt26 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2402.xlsx')
ncd_placeltt27 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2403.xlsx')
ncd_placeltt28 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2404.xlsx')
ncd_placeltt29 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2405.xlsx')
ncd_placeltt30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placeltt2406.xlsx')

ncd_placelt13 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2301.xlsx')
ncd_placelt14 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2302.xlsx')
ncd_placelt15 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2303.xlsx')
ncd_placelt16 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2304.xlsx')
ncd_placelt17 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2305.xlsx')
ncd_placelt18 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2306.xlsx')
ncd_placelt19 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2307.xlsx')
ncd_placelt20 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2308.xlsx')
ncd_placelt21 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2309.xlsx')
ncd_placelt22 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2310.xlsx')
ncd_placelt23 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2311.xlsx')
ncd_placelt24 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2312.xlsx')
ncd_placelt25 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2401.xlsx')
ncd_placelt26 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2402.xlsx')
ncd_placelt27 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2403.xlsx')
ncd_placelt28 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2404.xlsx')
ncd_placelt29 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2405.xlsx')
ncd_placelt30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placelt2406.xlsx')

ncd_placebst13 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2301.xlsx')
ncd_placebst14 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2302.xlsx')
ncd_placebst15 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2303.xlsx')
ncd_placebst16 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2304.xlsx')
ncd_placebst17 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2305.xlsx')
ncd_placebst18 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2306.xlsx')
ncd_placebst19 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2307.xlsx')
ncd_placebst20 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2308.xlsx')
ncd_placebst21 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2309.xlsx')
ncd_placebst22 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2310.xlsx')
ncd_placebst23 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2311.xlsx')
ncd_placebst24 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2312.xlsx')
ncd_placebst25 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2401.xlsx')
ncd_placebst26 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2402.xlsx')
ncd_placebst27 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2403.xlsx')
ncd_placebst28 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2404.xlsx')
ncd_placebst29 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2405.xlsx')
ncd_placebst30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebst2406.xlsx')

ncd_placebs13 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2301.xlsx')
ncd_placebs14 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2302.xlsx')
ncd_placebs15 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2303.xlsx')
ncd_placebs16 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2304.xlsx')
ncd_placebs17 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2305.xlsx')
ncd_placebs18 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2306.xlsx')
ncd_placebs19 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2307.xlsx')
ncd_placebs20 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2308.xlsx')
ncd_placebs21 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2309.xlsx')
ncd_placebs22 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2310.xlsx')
ncd_placebs23 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2311.xlsx')
ncd_placebs24 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2312.xlsx')
ncd_placebs25 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2401.xlsx')
ncd_placebs26 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2402.xlsx')
ncd_placebs27 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2403.xlsx')
ncd_placebs28 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2404.xlsx')
ncd_placebs29 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2405.xlsx')
ncd_placebs30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placebs2406.xlsx')

ncd_placehr13 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2301.xlsx')
ncd_placehr14 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2302.xlsx')
ncd_placehr15 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2303.xlsx')
ncd_placehr16 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2304.xlsx')
ncd_placehr17 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2305.xlsx')
ncd_placehr18 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2306.xlsx')
ncd_placehr19 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2307.xlsx')
ncd_placehr20 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2308.xlsx')
ncd_placehr21 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2309.xlsx')
ncd_placehr22 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2310.xlsx')
ncd_placehr23 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2311.xlsx')
ncd_placehr24 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2312.xlsx')
ncd_placehr25 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2401.xlsx')
ncd_placehr26 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2402.xlsx')
ncd_placehr27 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2403.xlsx')
ncd_placehr28 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2404.xlsx')
ncd_placehr29 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2405.xlsx')
ncd_placehr30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_placehr2406.xlsx')

In [14]:
ncd_app30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app2406.xlsx')
ncd_app31 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app2407.xlsx')
ncd_app32 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app2408.xlsx')
ncd_app33 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app2409.xlsx')
ncd_app34 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app2410.xlsx')
ncd_app35 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app2411.xlsx')
ncd_app36 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app2412.xlsx')
ncd_app37 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app2501.xlsx')

ncd_att30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_att2406.xlsx')
ncd_att31 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_att2407.xlsx')
ncd_att32 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_att2408.xlsx')
ncd_att33 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_att2409.xlsx')
ncd_att34 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_att2410.xlsx')
ncd_att35 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_att2411.xlsx')
ncd_att36 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_att2412.xlsx')
ncd_att37 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_att2501.xlsx')

ncd_fin30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_fin2406.xlsx')
ncd_fin31 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_fin2407.xlsx')
ncd_fin32 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_fin2408.xlsx')
ncd_fin33 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_fin2409.xlsx')
ncd_fin34 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_fin2410.xlsx')
ncd_fin35 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_fin2411.xlsx')
ncd_fin36 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_fin2412.xlsx')
ncd_fin37 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_fin2501.xlsx')

ncd_pay30 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_pay2406.xlsx')
ncd_pay31 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_pay2407.xlsx')
ncd_pay32 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_pay2408.xlsx')
ncd_pay33 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_pay2409.xlsx')
ncd_pay34 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_pay2410.xlsx')
ncd_pay35 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_pay2411.xlsx')
ncd_pay36 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_pay2412.xlsx')
ncd_pay37 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_pay2501.xlsx')

In [27]:
paydb_base1 = paydb_base_2022[paydb_base_2022['calc_ymd'] == '2022-01-26']
paydb_base2 = paydb_base_2022[paydb_base_2022['calc_ymd'] == '2022-02-23']
paydb_base3 = paydb_base_2022[paydb_base_2022['calc_ymd'] == '2022-03-30']
paydb_base4 = paydb_base_2022[paydb_base_2022['calc_ymd'] == '2022-04-27']
paydb_base5 = paydb_base_2022[paydb_base_2022['calc_ymd'] == '2022-05-25']
paydb_base6 = paydb_base_2022[paydb_base_2022['calc_ymd'] == '2022-06-29']
paydb_base7 = paydb_base_2022[paydb_base_2022['calc_ymd'] == '2022-07-27']
paydb_base8 = paydb_base_2022[paydb_base_2022['calc_ymd'] == '2022-08-31']
paydb_base9 = paydb_base_2022[paydb_base_2022['calc_ymd'] == '2022-09-28']
paydb_base10 = paydb_base_2022[paydb_base_2022['calc_ymd'] == '2022-10-26']
paydb_base11 = paydb_base_2022[paydb_base_2022['calc_ymd'] == '2022-11-30']
paydb_base12 = paydb_base_2022[paydb_base_2022['calc_ymd'] == '2022-12-28']

paydb_option1 = paydb_option_2022[paydb_option_2022['calc_ymd'] == '2022-01-26']
paydb_option2 = paydb_option_2022[paydb_option_2022['calc_ymd'] == '2022-02-23']
paydb_option3 = paydb_option_2022[paydb_option_2022['calc_ymd'] == '2022-03-30']
paydb_option4 = paydb_option_2022[paydb_option_2022['calc_ymd'] == '2022-04-27']
paydb_option5 = paydb_option_2022[paydb_option_2022['calc_ymd'] == '2022-05-25']
paydb_option6 = paydb_option_2022[paydb_option_2022['calc_ymd'] == '2022-06-29']
paydb_option7 = paydb_option_2022[paydb_option_2022['calc_ymd'] == '2022-07-27']
paydb_option8 = paydb_option_2022[paydb_option_2022['calc_ymd'] == '2022-08-31']
paydb_option9 = paydb_option_2022[paydb_option_2022['calc_ymd'] == '2022-09-28']
paydb_option10 = paydb_option_2022[paydb_option_2022['calc_ymd'] == '2022-10-26']
paydb_option11 = paydb_option_2022[paydb_option_2022['calc_ymd'] == '2022-11-30']
paydb_option12 = paydb_option_2022[paydb_option_2022['calc_ymd'] == '2022-12-28']

In [29]:
paydb_base1['testdomainYn'] = np.where(paydb_base1['member_no'].isin(boa1['NCP회원번호']), 'N',
                                       np.where(paydb_base1['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base1['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base2['testdomainYn'] = np.where(paydb_base2['member_no'].isin(boa2['NCP회원번호']), 'N',
                                       np.where(paydb_base2['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base2['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base3['testdomainYn'] = np.where(paydb_base3['member_no'].isin(boa3['NCP회원번호']), 'N',
                                       np.where(paydb_base3['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base3['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base4['testdomainYn'] = np.where(paydb_base4['member_no'].isin(boa4['NCP회원번호']), 'N',
                                       np.where(paydb_base4['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base4['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base5['testdomainYn'] = np.where(paydb_base5['member_no'].isin(boa5['NCP회원번호']), 'N',
                                       np.where(paydb_base5['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base5['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base6['testdomainYn'] = np.where(paydb_base6['member_no'].isin(boa6['NCP회원번호']), 'N',
                                       np.where(paydb_base6['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base6['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base7['testdomainYn'] = np.where(paydb_base7['member_no'].isin(boa7['NCP회원번호']), 'N',
                                       np.where(paydb_base7['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base7['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base8['testdomainYn'] = np.where(paydb_base8['member_no'].isin(boa8['NCP회원번호']), 'N',
                                       np.where(paydb_base8['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base8['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base9['testdomainYn'] = np.where(paydb_base9['member_no'].isin(boa9['NCP회원번호']), 'N',
                                       np.where(paydb_base9['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base9['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base10['testdomainYn'] = np.where(paydb_base10['member_no'].isin(boa10['NCP회원번호']), 'N',
                                       np.where(paydb_base10['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base10['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base11['testdomainYn'] = np.where(paydb_base11['member_no'].isin(boa11['NCP회원번호']), 'N',
                                       np.where(paydb_base11['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base11['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base12['testdomainYn'] = np.where(paydb_base12['member_no'].isin(boa12['NCP회원번호']), 'N',
                                       np.where(paydb_base12['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base12['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )

/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/504714969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_base1['testdomainYn'] = np.where(paydb_base1['member_no'].isin(boa1['NCP회원번호']), 'N',
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/504714969.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_base2['testdomainYn'] = np.where(paydb_base2['member_no'].isin(boa2['NCP회원번호']), 'N',
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/504714969.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_base3['testdomainYn'] = np.where(paydb_base3['member_no'].isin(boa3['NCP회원번호']), 'N',
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/504714969.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_base4['testdomainYn'] = np.where(paydb_base4['member_no'].isin(boa4['NCP회원번호']), 'N',
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/504714969.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_base5['testdomainYn'] = np.where(paydb_base5['member_no'].isin(boa5['NCP회원번호']), 'N',
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/504714969.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_base6['testdomainYn'] = np.where(paydb_base6['member_no'].isin(boa6['NCP회원번호']), 'N',
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/504714969.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_base7['testdomainYn'] = np.where(paydb_base7['member_no'].isin(boa7['NCP회원번호']), 'N',
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/504714969.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_base8['testdomainYn'] = np.where(paydb_base8['member_no'].isin(boa8['NCP회원번호']), 'N',
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/504714969.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_base9['testdomainYn'] = np.where(paydb_base9['member_no'].isin(boa9['NCP회원번호']), 'N',
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/504714969.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_base10['testdomainYn'] = np.where(paydb_base10['member_no'].isin(boa10['NCP회원번호']), 'N',
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/504714969.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_base11['testdomainYn'] = np.where(paydb_base11['member_no'].isin(boa11['NCP회원번호']), 'N',
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/504714969.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_base12['testdomainYn'] = np.where(paydb_base12['member_no'].isin(boa12['NCP회원번호']), 'N',

In [31]:
paydb_option1['testdomainYn'] = np.where(paydb_option1['member_no'].isin(boa1['NCP회원번호']), 'N', 'Y')
paydb_option2['testdomainYn'] = np.where(paydb_option2['member_no'].isin(boa2['NCP회원번호']), 'N', 'Y')
paydb_option3['testdomainYn'] = np.where(paydb_option3['member_no'].isin(boa3['NCP회원번호']), 'N', 'Y')
paydb_option4['testdomainYn'] = np.where(paydb_option4['member_no'].isin(boa4['NCP회원번호']), 'N', 'Y')
paydb_option5['testdomainYn'] = np.where(paydb_option5['member_no'].isin(boa5['NCP회원번호']), 'N', 'Y')
paydb_option6['testdomainYn'] = np.where(paydb_option6['member_no'].isin(boa6['NCP회원번호']), 'N', 'Y')
paydb_option7['testdomainYn'] = np.where(paydb_option7['member_no'].isin(boa7['NCP회원번호']), 'N', 'Y')
paydb_option8['testdomainYn'] = np.where(paydb_option8['member_no'].isin(boa8['NCP회원번호']), 'N', 'Y')
paydb_option9['testdomainYn'] = np.where(paydb_option9['member_no'].isin(boa9['NCP회원번호']), 'N', 'Y')
paydb_option10['testdomainYn'] = np.where(paydb_option10['member_no'].isin(boa10['NCP회원번호']), 'N', 'Y')
paydb_option11['testdomainYn'] = np.where(paydb_option11['member_no'].isin(boa11['NCP회원번호']), 'N', 'Y')
paydb_option12['testdomainYn'] = np.where(paydb_option12['member_no'].isin(boa12['NCP회원번호']), 'N', 'Y')

/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/1813838478.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option1['testdomainYn'] = np.where(paydb_option1['member_no'].isin(boa1['NCP회원번호']), 'N', 'Y')
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/1813838478.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option2['testdomainYn'] = np.where(paydb_option2['member_no'].isin(boa2['NCP회원번호']), 'N', 'Y')
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/1813838478.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option3['testdomainYn'] = np.where(paydb_option3['member_no'].isin(boa3['NCP회원번호']), 'N', 'Y')
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/1813838478.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option4['testdomainYn'] = np.where(paydb_option4['member_no'].isin(boa4['NCP회원번호']), 'N', 'Y')
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/1813838478.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option5['testdomainYn'] = np.where(paydb_option5['member_no'].isin(boa5['NCP회원번호']), 'N', 'Y')
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/1813838478.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option6['testdomainYn'] = np.where(paydb_option6['member_no'].isin(boa6['NCP회원번호']), 'N', 'Y')
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/1813838478.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option7['testdomainYn'] = np.where(paydb_option7['member_no'].isin(boa7['NCP회원번호']), 'N', 'Y')
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/1813838478.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option8['testdomainYn'] = np.where(paydb_option8['member_no'].isin(boa8['NCP회원번호']), 'N', 'Y')
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/1813838478.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option9['testdomainYn'] = np.where(paydb_option9['member_no'].isin(boa9['NCP회원번호']), 'N', 'Y')
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/1813838478.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option10['testdomainYn'] = np.where(paydb_option10['member_no'].isin(boa10['NCP회원번호']), 'N', 'Y')
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/1813838478.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option11['testdomainYn'] = np.where(paydb_option11['member_no'].isin(boa11['NCP회원번호']), 'N', 'Y')
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/1813838478.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option12['testdomainYn'] = np.where(paydb_option12['member_no'].isin(boa12['NCP회원번호']), 'N', 'Y')

In [35]:
paydb_option1.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option2.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option3.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option4.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option5.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option6.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option7.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option8.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option9.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option10.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option11.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option12.rename(columns = {'add_item_id':'base_item_id'},inplace=True)

/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/382599147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option1.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/382599147.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option2.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/382599147.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option3.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/382599147.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option4.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/382599147.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option5.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/382599147.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option6.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/382599147.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option7.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/382599147.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option8.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/382599147.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option9.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/382599147.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option10.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/382599147.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option11.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/382599147.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paydb_option12.rename(columns = {'add_item_id':'base_item_id'},inplace=True)

In [71]:
paydb1 = pd.concat([paydb_base1, paydb_option1])
paydb2 = pd.concat([paydb_base2, paydb_option2])
paydb3 = pd.concat([paydb_base3, paydb_option3])
paydb4 = pd.concat([paydb_base4, paydb_option4])
paydb5 = pd.concat([paydb_base5, paydb_option5])
paydb6 = pd.concat([paydb_base6, paydb_option6])
paydb7 = pd.concat([paydb_base7, paydb_option7])
paydb8 = pd.concat([paydb_base8, paydb_option8])
paydb9 = pd.concat([paydb_base9, paydb_option9])
paydb10 = pd.concat([paydb_base10, paydb_option10])
paydb11 = pd.concat([paydb_base11, paydb_option11])
paydb12 = pd.concat([paydb_base12, paydb_option12])

In [79]:
ncd_appt30 = ncd_app30[ncd_app30['요금'] == 0]
ncd_app30 = ncd_app30[ncd_app30['요금'] > 0]
ncd_attt30 = ncd_att30[ncd_att30['요금'] == 0]
ncd_att30 = ncd_att30[ncd_att30['요금'] > 0]
ncd_fint30 = ncd_fin30[ncd_fin30['요금'] == 0]
ncd_fin30 = ncd_fin30[ncd_fin30['요금'] > 0]
ncd_payt30 = ncd_pay30[ncd_pay30['요금'] == 0]
ncd_pay30 = ncd_pay30[ncd_pay30['요금'] > 0]

ncd_appt31 = ncd_app31[ncd_app31['요금'] == 0]
ncd_app31 = ncd_app31[ncd_app31['요금'] > 0]
ncd_attt31 = ncd_att31[ncd_att31['요금'] == 0]
ncd_att31 = ncd_att31[ncd_att31['요금'] > 0]
ncd_fint31 = ncd_fin31[ncd_fin31['요금'] == 0]
ncd_fin31 = ncd_fin31[ncd_fin31['요금'] > 0]
ncd_payt31 = ncd_pay31[ncd_pay31['요금'] == 0]
ncd_pay31 = ncd_pay31[ncd_pay31['요금'] > 0]

ncd_appt32 = ncd_app32[ncd_app32['요금'] == 0]
ncd_app32 = ncd_app32[ncd_app32['요금'] > 0]
ncd_attt32 = ncd_att32[ncd_att32['요금'] == 0]
ncd_att32 = ncd_att32[ncd_att32['요금'] > 0]
ncd_fint32 = ncd_fin32[ncd_fin32['요금'] == 0]
ncd_fin32 = ncd_fin32[ncd_fin32['요금'] > 0]
ncd_payt32 = ncd_pay32[ncd_pay32['요금'] == 0]
ncd_pay32 = ncd_pay32[ncd_pay32['요금'] > 0]

ncd_appt33 = ncd_app33[ncd_app33['요금'] == 0]
ncd_app33 = ncd_app33[ncd_app33['요금'] > 0]
ncd_attt33 = ncd_att33[ncd_att33['요금'] == 0]
ncd_att33 = ncd_att33[ncd_att33['요금'] > 0]
ncd_fint33 = ncd_fin33[ncd_fin33['요금'] == 0]
ncd_fin33 = ncd_fin33[ncd_fin33['요금'] > 0]
ncd_payt33 = ncd_pay33[ncd_pay33['요금'] == 0]
ncd_pay33 = ncd_pay33[ncd_pay33['요금'] > 0]

ncd_appt34 = ncd_app34[ncd_app34['요금'] == 0]
ncd_app34 = ncd_app34[ncd_app34['요금'] > 0]
ncd_attt34 = ncd_att34[ncd_att34['요금'] == 0]
ncd_att34 = ncd_att34[ncd_att34['요금'] > 0]
ncd_fint34 = ncd_fin34[ncd_fin34['요금'] == 0]
ncd_fin34 = ncd_fin34[ncd_fin34['요금'] > 0]
ncd_payt34 = ncd_pay34[ncd_pay34['요금'] == 0]
ncd_pay34 = ncd_pay34[ncd_pay34['요금'] > 0]

ncd_appt35 = ncd_app35[ncd_app35['요금'] == 0]
ncd_app35 = ncd_app35[ncd_app35['요금'] > 0]
ncd_attt35 = ncd_att35[ncd_att35['요금'] == 0]
ncd_att35 = ncd_att35[ncd_att35['요금'] > 0]
ncd_fint35 = ncd_fin35[ncd_fin35['요금'] == 0]
ncd_fin35 = ncd_fin35[ncd_fin35['요금'] > 0]
ncd_payt35 = ncd_pay35[ncd_pay35['요금'] == 0]
ncd_pay35 = ncd_pay35[ncd_pay35['요금'] > 0]

ncd_appt36 = ncd_app36[ncd_app36['요금'] == 0]
ncd_app36 = ncd_app36[ncd_app36['요금'] > 0]
ncd_attt36 = ncd_att36[ncd_att36['요금'] == 0]
ncd_att36 = ncd_att36[ncd_att36['요금'] > 0]
ncd_fint36 = ncd_fin36[ncd_fin36['요금'] == 0]
ncd_fin36 = ncd_fin36[ncd_fin36['요금'] > 0]
ncd_payt36 = ncd_pay36[ncd_pay36['요금'] == 0]
ncd_pay36 = ncd_pay36[ncd_pay36['요금'] > 0]

ncd_appt37 = ncd_app37[ncd_app37['요금'] == 0]
ncd_app37 = ncd_app37[ncd_app37['요금'] > 0]
ncd_attt37 = ncd_att37[ncd_att37['요금'] == 0]
ncd_att37 = ncd_att37[ncd_att37['요금'] > 0]
ncd_fint37 = ncd_fin37[ncd_fin37['요금'] == 0]
ncd_fin37 = ncd_fin37[ncd_fin37['요금'] > 0]
ncd_payt37 = ncd_pay37[ncd_pay37['요금'] == 0]
ncd_pay37 = ncd_pay37[ncd_pay37['요금'] > 0]

In [81]:
ncd_lt13['base_item_id'] ='LT'
ncd_lt14['base_item_id'] ='LT'
ncd_lt15['base_item_id'] ='LT'
ncd_lt16['base_item_id'] ='LT'
ncd_lt17['base_item_id'] ='LT'
ncd_lt18['base_item_id'] ='LT'
ncd_lt19['base_item_id'] ='LT'
ncd_lt20['base_item_id'] ='LT'
ncd_lt21['base_item_id'] ='LT'
ncd_lt22['base_item_id'] ='LT'
ncd_lt23['base_item_id'] ='LT'
ncd_lt24['base_item_id'] ='LT'
ncd_lt25['base_item_id'] ='LT'
ncd_lt26['base_item_id'] ='LT'
ncd_lt27['base_item_id'] ='LT'
ncd_lt28['base_item_id'] ='LT'
ncd_lt29['base_item_id'] ='LT'
ncd_lt30['base_item_id'] ='LT'

ncd_bs13['base_item_id'] ='BS'
ncd_bs14['base_item_id'] ='BS'
ncd_bs15['base_item_id'] ='BS'
ncd_bs16['base_item_id'] ='BS'
ncd_bs17['base_item_id'] ='BS'
ncd_bs18['base_item_id'] ='BS'
ncd_bs19['base_item_id'] ='BS'
ncd_bs20['base_item_id'] ='BS'
ncd_bs21['base_item_id'] ='BS'
ncd_bs22['base_item_id'] ='BS'
ncd_bs23['base_item_id'] ='BS'
ncd_bs24['base_item_id'] ='BS'
ncd_bs25['base_item_id'] ='BS'
ncd_bs26['base_item_id'] ='BS'
ncd_bs27['base_item_id'] ='BS'
ncd_bs28['base_item_id'] ='BS'
ncd_bs29['base_item_id'] ='BS'
ncd_bs30['base_item_id'] ='BS'

ncd_prm13['base_item_id'] ='PRM'
ncd_prm14['base_item_id'] ='PRM'
ncd_prm15['base_item_id'] ='PRM'
ncd_prm16['base_item_id'] ='PRM'
ncd_prm17['base_item_id'] ='PRM'
ncd_prm18['base_item_id'] ='PRM'
ncd_prm19['base_item_id'] ='PRM'
ncd_prm20['base_item_id'] ='PRM'
ncd_prm21['base_item_id'] ='PRM'
ncd_prm22['base_item_id'] ='PRM'
ncd_prm23['base_item_id'] ='PRM'
ncd_prm24['base_item_id'] ='PRM'
ncd_prm25['base_item_id'] ='PRM'
ncd_prm26['base_item_id'] ='PRM'
ncd_prm27['base_item_id'] ='PRM'
ncd_prm28['base_item_id'] ='PRM'
ncd_prm29['base_item_id'] ='PRM'
ncd_prm30['base_item_id'] ='PRM'

ncd_ltt13['base_item_id'] ='LT_T'
ncd_ltt14['base_item_id'] ='LT_T'
ncd_ltt15['base_item_id'] ='LT_T'
ncd_ltt16['base_item_id'] ='LT_T'
ncd_ltt17['base_item_id'] ='LT_T'
ncd_ltt18['base_item_id'] ='LT_T'
ncd_ltt19['base_item_id'] ='LT_T'
ncd_ltt20['base_item_id'] ='LT_T'
ncd_ltt21['base_item_id'] ='LT_T'
ncd_ltt22['base_item_id'] ='LT_T'
ncd_ltt23['base_item_id'] ='LT_T'
ncd_ltt24['base_item_id'] ='LT_T'
ncd_ltt25['base_item_id'] ='LT_T'
ncd_ltt26['base_item_id'] ='LT_T'
ncd_ltt27['base_item_id'] ='LT_T'
ncd_ltt28['base_item_id'] ='LT_T'
ncd_ltt29['base_item_id'] ='LT_T'
ncd_ltt30['base_item_id'] ='LT_T'

ncd_bst13['base_item_id'] ='BS_T'
ncd_bst14['base_item_id'] ='BS_T'
ncd_bst15['base_item_id'] ='BS_T'
ncd_bst16['base_item_id'] ='BS_T'
ncd_bst17['base_item_id'] ='BS_T'
ncd_bst18['base_item_id'] ='BS_T'
ncd_bst19['base_item_id'] ='BS_T'
ncd_bst20['base_item_id'] ='BS_T'
ncd_bst21['base_item_id'] ='BS_T'
ncd_bst22['base_item_id'] ='BS_T'
ncd_bst23['base_item_id'] ='BS_T'
ncd_bst24['base_item_id'] ='BS_T'
ncd_bst25['base_item_id'] ='BS_T'
ncd_bst26['base_item_id'] ='BS_T'
ncd_bst27['base_item_id'] ='BS_T'
ncd_bst28['base_item_id'] ='BS_T'
ncd_bst29['base_item_id'] ='BS_T'
ncd_bst30['base_item_id'] ='BS_T'

ncd_prmt13['base_item_id'] ='PRM_T'
ncd_prmt14['base_item_id'] ='PRM_T'
ncd_prmt15['base_item_id'] ='PRM_T'
ncd_prmt16['base_item_id'] ='PRM_T'
ncd_prmt17['base_item_id'] ='PRM_T'
ncd_prmt18['base_item_id'] ='PRM_T'
ncd_prmt19['base_item_id'] ='PRM_T'
ncd_prmt20['base_item_id'] ='PRM_T'
ncd_prmt21['base_item_id'] ='PRM_T'
ncd_prmt22['base_item_id'] ='PRM_T'
ncd_prmt23['base_item_id'] ='PRM_T'
ncd_prmt24['base_item_id'] ='PRM_T'
ncd_prmt25['base_item_id'] ='PRM_T'
ncd_prmt26['base_item_id'] ='PRM_T'
ncd_prmt27['base_item_id'] ='PRM_T'
ncd_prmt28['base_item_id'] ='PRM_T'
ncd_prmt29['base_item_id'] ='PRM_T'
ncd_prmt30['base_item_id'] ='PRM_T'

ncd_placeltt13['base_item_id'] ='1LT_T'
ncd_placeltt14['base_item_id'] ='1LT_T'
ncd_placeltt15['base_item_id'] ='1LT_T'
ncd_placeltt16['base_item_id'] ='1LT_T'
ncd_placeltt17['base_item_id'] ='1LT_T'
ncd_placeltt18['base_item_id'] ='1LT_T'
ncd_placeltt19['base_item_id'] ='1LT_T'
ncd_placeltt20['base_item_id'] ='1LT_T'
ncd_placeltt21['base_item_id'] ='1LT_T'
ncd_placeltt22['base_item_id'] ='1LT_T'
ncd_placeltt23['base_item_id'] ='1LT_T'
ncd_placeltt24['base_item_id'] ='1LT_T'
ncd_placeltt25['base_item_id'] ='1LT_T'
ncd_placeltt26['base_item_id'] ='1LT_T'
ncd_placeltt27['base_item_id'] ='1LT_T'
ncd_placeltt28['base_item_id'] ='1LT_T'
ncd_placeltt29['base_item_id'] ='1LT_T'
ncd_placeltt30['base_item_id'] ='1LT_T'

ncd_placelt13['base_item_id'] ='1LT'
ncd_placelt14['base_item_id'] ='1LT'
ncd_placelt15['base_item_id'] ='1LT'
ncd_placelt16['base_item_id'] ='1LT'
ncd_placelt17['base_item_id'] ='1LT'
ncd_placelt18['base_item_id'] ='1LT'
ncd_placelt19['base_item_id'] ='1LT'
ncd_placelt20['base_item_id'] ='1LT'
ncd_placelt21['base_item_id'] ='1LT'
ncd_placelt22['base_item_id'] ='1LT'
ncd_placelt23['base_item_id'] ='1LT'
ncd_placelt24['base_item_id'] ='1LT'
ncd_placelt25['base_item_id'] ='1LT'
ncd_placelt26['base_item_id'] ='1LT'
ncd_placelt27['base_item_id'] ='1LT'
ncd_placelt28['base_item_id'] ='1LT'
ncd_placelt29['base_item_id'] ='1LT'
ncd_placelt30['base_item_id'] ='1LT'

ncd_placebst13['base_item_id'] ='1BS_T'
ncd_placebst14['base_item_id'] ='1BS_T'
ncd_placebst15['base_item_id'] ='1BS_T'
ncd_placebst16['base_item_id'] ='1BS_T'
ncd_placebst17['base_item_id'] ='1BS_T'
ncd_placebst18['base_item_id'] ='1BS_T'
ncd_placebst19['base_item_id'] ='1BS_T'
ncd_placebst20['base_item_id'] ='1BS_T'
ncd_placebst21['base_item_id'] ='1BS_T'
ncd_placebst22['base_item_id'] ='1BS_T'
ncd_placebst23['base_item_id'] ='1BS_T'
ncd_placebst24['base_item_id'] ='1BS_T'
ncd_placebst25['base_item_id'] ='1BS_T'
ncd_placebst26['base_item_id'] ='1BS_T'
ncd_placebst27['base_item_id'] ='1BS_T'
ncd_placebst28['base_item_id'] ='1BS_T'
ncd_placebst29['base_item_id'] ='1BS_T'
ncd_placebst30['base_item_id'] ='1BS_T'

ncd_placebs13['base_item_id'] ='1BS'
ncd_placebs14['base_item_id'] ='1BS'
ncd_placebs15['base_item_id'] ='1BS'
ncd_placebs16['base_item_id'] ='1BS'
ncd_placebs17['base_item_id'] ='1BS'
ncd_placebs18['base_item_id'] ='1BS'
ncd_placebs19['base_item_id'] ='1BS'
ncd_placebs20['base_item_id'] ='1BS'
ncd_placebs21['base_item_id'] ='1BS'
ncd_placebs22['base_item_id'] ='1BS'
ncd_placebs23['base_item_id'] ='1BS'
ncd_placebs24['base_item_id'] ='1BS'
ncd_placebs25['base_item_id'] ='1BS'
ncd_placebs26['base_item_id'] ='1BS'
ncd_placebs27['base_item_id'] ='1BS'
ncd_placebs28['base_item_id'] ='1BS'
ncd_placebs29['base_item_id'] ='1BS'
ncd_placebs30['base_item_id'] ='1BS'

ncd_placehr13['base_item_id'] ='1HR'
ncd_placehr14['base_item_id'] ='1HR'
ncd_placehr15['base_item_id'] ='1HR'
ncd_placehr16['base_item_id'] ='1HR'
ncd_placehr17['base_item_id'] ='1HR'
ncd_placehr18['base_item_id'] ='1HR'
ncd_placehr19['base_item_id'] ='1HR'
ncd_placehr20['base_item_id'] ='1HR'
ncd_placehr21['base_item_id'] ='1HR'
ncd_placehr22['base_item_id'] ='1HR'
ncd_placehr23['base_item_id'] ='1HR'
ncd_placehr24['base_item_id'] ='1HR'
ncd_placehr25['base_item_id'] ='1HR'
ncd_placehr26['base_item_id'] ='1HR'
ncd_placehr27['base_item_id'] ='1HR'
ncd_placehr28['base_item_id'] ='1HR'
ncd_placehr29['base_item_id'] ='1HR'
ncd_placehr30['base_item_id'] ='1HR'

In [83]:
ncd13 = pd.concat([ncd_ltt13, ncd_lt13, ncd_bst13, ncd_bs13, ncd_prmt13, ncd_prm13, ncd_placeltt13, ncd_placebst13, ncd_placelt13, ncd_placebs13, ncd_placehr13])
ncd14 = pd.concat([ncd_ltt14, ncd_lt14, ncd_bst14, ncd_bs14, ncd_prmt14, ncd_prm14, ncd_placeltt14, ncd_placebst14, ncd_placelt14, ncd_placebs14, ncd_placehr14])
ncd15 = pd.concat([ncd_ltt15, ncd_lt15, ncd_bst15, ncd_bs15, ncd_prmt15, ncd_prm15, ncd_placeltt15, ncd_placebst15, ncd_placelt15, ncd_placebs15, ncd_placehr15])
ncd16 = pd.concat([ncd_ltt16, ncd_lt16, ncd_bst16, ncd_bs16, ncd_prmt16, ncd_prm16, ncd_placeltt16, ncd_placebst16, ncd_placelt16, ncd_placebs16, ncd_placehr16])
ncd17 = pd.concat([ncd_ltt17, ncd_lt17, ncd_bst17, ncd_bs17, ncd_prmt17, ncd_prm17, ncd_placeltt17, ncd_placebst17, ncd_placelt17, ncd_placebs17, ncd_placehr17])
ncd18 = pd.concat([ncd_ltt18, ncd_lt18, ncd_bst18, ncd_bs18, ncd_prmt18, ncd_prm18, ncd_placeltt18, ncd_placebst18, ncd_placelt18, ncd_placebs18, ncd_placehr18])
ncd19 = pd.concat([ncd_ltt19, ncd_lt19, ncd_bst19, ncd_bs19, ncd_prmt19, ncd_prm19, ncd_placeltt19, ncd_placebst19, ncd_placelt19, ncd_placebs19, ncd_placehr19])
ncd20 = pd.concat([ncd_ltt20, ncd_lt20, ncd_bst20, ncd_bs20, ncd_prmt20, ncd_prm20, ncd_placeltt20, ncd_placebst20, ncd_placelt20, ncd_placebs20, ncd_placehr20])
ncd21 = pd.concat([ncd_ltt21, ncd_lt21, ncd_bst21, ncd_bs21, ncd_prmt21, ncd_prm21, ncd_placeltt21, ncd_placebst21, ncd_placelt21, ncd_placebs21, ncd_placehr21])
ncd22 = pd.concat([ncd_ltt22, ncd_lt22, ncd_bst22, ncd_bs22, ncd_prmt22, ncd_prm22, ncd_placeltt22, ncd_placebst22, ncd_placelt22, ncd_placebs22, ncd_placehr22])
ncd23 = pd.concat([ncd_ltt23, ncd_lt23, ncd_bst23, ncd_bs23, ncd_prmt23, ncd_prm23, ncd_placeltt23, ncd_placebst23, ncd_placelt23, ncd_placebs23, ncd_placehr23])
ncd24 = pd.concat([ncd_ltt24, ncd_lt24, ncd_bst24, ncd_bs24, ncd_prmt24, ncd_prm24, ncd_placeltt24, ncd_placebst24, ncd_placelt24, ncd_placebs24, ncd_placehr24])
ncd25 = pd.concat([ncd_ltt25, ncd_lt25, ncd_bst25, ncd_bs25, ncd_prmt25, ncd_prm25, ncd_placeltt25, ncd_placebst25, ncd_placelt25, ncd_placebs25, ncd_placehr25])
ncd26 = pd.concat([ncd_ltt26, ncd_lt26, ncd_bst26, ncd_bs26, ncd_prmt26, ncd_prm26, ncd_placeltt26, ncd_placebst26, ncd_placelt26, ncd_placebs26, ncd_placehr26])
ncd27 = pd.concat([ncd_ltt27, ncd_lt27, ncd_bst27, ncd_bs27, ncd_prmt27, ncd_prm27, ncd_placeltt27, ncd_placebst27, ncd_placelt27, ncd_placebs27, ncd_placehr27])
ncd28 = pd.concat([ncd_ltt28, ncd_lt28, ncd_bst28, ncd_bs28, ncd_prmt28, ncd_prm28, ncd_placeltt28, ncd_placebst28, ncd_placelt28, ncd_placebs28, ncd_placehr28])
ncd29 = pd.concat([ncd_ltt29, ncd_lt29, ncd_bst29, ncd_bs29, ncd_prmt29, ncd_prm29, ncd_placeltt29, ncd_placebst29, ncd_placelt29, ncd_placebs29, ncd_placehr29])
ncd30 = pd.concat([ncd_ltt30, ncd_lt30, ncd_bst30, ncd_bs30, ncd_prmt30, ncd_prm30, ncd_placeltt30, ncd_placebst30, ncd_placelt30, ncd_placebs30, ncd_placehr30])

In [84]:
ncd13['testdomainYn'] = np.where(ncd13['회원번호'].isin(boa13['NCP회원번호']), 'N',
                                       np.where(ncd13['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd13['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd14['testdomainYn'] = np.where(ncd14['회원번호'].isin(boa14['NCP회원번호']), 'N',
                                       np.where(ncd14['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd14['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd15['testdomainYn'] = np.where(ncd15['회원번호'].isin(boa15['NCP회원번호']), 'N',
                                       np.where(ncd15['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd15['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd16['testdomainYn'] = np.where(ncd16['회원번호'].isin(boa16['NCP회원번호']), 'N',
                                       np.where(ncd16['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd16['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd17['testdomainYn'] = np.where(ncd17['회원번호'].isin(boa17['NCP회원번호']), 'N',
                                       np.where(ncd17['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd17['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd18['testdomainYn'] = np.where(ncd18['회원번호'].isin(boa18['NCP회원번호']), 'N',
                                       np.where(ncd18['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd18['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd19['testdomainYn'] = np.where(ncd19['회원번호'].isin(boa19['NCP회원번호']), 'N',
                                       np.where(ncd19['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd19['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd20['testdomainYn'] = np.where(ncd20['회원번호'].isin(boa20['NCP회원번호']), 'N',
                                       np.where(ncd20['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd20['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd21['testdomainYn'] = np.where(ncd21['회원번호'].isin(boa21['NCP회원번호']), 'N',
                                       np.where(ncd21['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd21['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd22['testdomainYn'] = np.where(ncd22['회원번호'].isin(boa22['NCP회원번호']), 'N',
                                       np.where(ncd22['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd22['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd23['testdomainYn'] = np.where(ncd23['회원번호'].isin(boa23['NCP회원번호']), 'N',
                                       np.where(ncd23['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd23['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd24['testdomainYn'] = np.where(ncd24['회원번호'].isin(boa24['NCP회원번호']), 'N',
                                       np.where(ncd24['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd24['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd25['testdomainYn'] = np.where(ncd25['회원번호'].isin(boa25['NCP회원번호']), 'N',
                                       np.where(ncd25['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd25['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd26['testdomainYn'] = np.where(ncd26['회원번호'].isin(boa26['NCP회원번호']), 'N',
                                       np.where(ncd26['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd26['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd27['testdomainYn'] = np.where(ncd27['회원번호'].isin(boa27['NCP회원번호']), 'N',
                                       np.where(ncd27['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd27['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd28['testdomainYn'] = np.where(ncd28['회원번호'].isin(boa28['NCP회원번호']), 'N',
                                       np.where(ncd28['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd28['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd29['testdomainYn'] = np.where(ncd29['회원번호'].isin(boa29['NCP회원번호']), 'N',
                                       np.where(ncd29['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd29['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
ncd30['testdomainYn'] = np.where(ncd30['회원번호'].isin(boa30['NCP회원번호']), 'N',
                                       np.where(ncd30['base_item_id'].str.endswith('_T'), np.nan, 
                                                np.where(ncd30['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )

ncd30 = ncd30[ncd30['미터링일시']<20240604]

In [86]:
paydb_base30['testdomainYn'] = np.where(paydb_base30['member_no'].isin(boa30['NCP회원번호']), 'N',
                                       np.where(paydb_base30['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base30['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base31['testdomainYn'] = np.where(paydb_base31['member_no'].isin(boa31['NCP회원번호']), 'N',
                                       np.where(paydb_base31['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base31['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base32['testdomainYn'] = np.where(paydb_base32['member_no'].isin(boa32['NCP회원번호']), 'N',
                                       np.where(paydb_base32['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base32['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base33['testdomainYn'] = np.where(paydb_base33['member_no'].isin(boa33['NCP회원번호']), 'N',
                                       np.where(paydb_base33['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base33['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base34['testdomainYn'] = np.where(paydb_base34['member_no'].isin(boa34['NCP회원번호']), 'N',
                                       np.where(paydb_base34['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base34['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base35['testdomainYn'] = np.where(paydb_base35['member_no'].isin(boa35['NCP회원번호']), 'N',
                                       np.where(paydb_base35['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base35['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base36_1['testdomainYn'] = np.where(paydb_base36_1['member_no'].isin(boa36['NCP회원번호']), 'N',
                                       np.where(paydb_base36_1['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base36_1['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )
paydb_base36_2['testdomainYn'] = np.where(paydb_base36_2['member_no'].isin(boa36['NCP회원번호']), 'N',
                                       np.where(paydb_base36_2['base_item_id'].str.endswith('_T'), np.nan,
                                                np.where(paydb_base36_2['base_item_id'].str.endswith('FR'), np.nan, 'Y')
                                               )
                                      )

In [87]:
paydb_option30['testdomainYn'] = np.where(paydb_option30['member_no'].isin(boa30['NCP회원번호']), 'N', 'Y')
paydb_option31['testdomainYn'] = np.where(paydb_option31['member_no'].isin(boa31['NCP회원번호']), 'N', 'Y')
paydb_option32['testdomainYn'] = np.where(paydb_option32['member_no'].isin(boa32['NCP회원번호']), 'N', 'Y')
paydb_option33['testdomainYn'] = np.where(paydb_option33['member_no'].isin(boa33['NCP회원번호']), 'N', 'Y')
paydb_option34['testdomainYn'] = np.where(paydb_option34['member_no'].isin(boa34['NCP회원번호']), 'N', 'Y')
paydb_option35['testdomainYn'] = np.where(paydb_option35['member_no'].isin(boa35['NCP회원번호']), 'N', 'Y')
paydb_option36_1['testdomainYn'] = np.where(paydb_option36_1['member_no'].isin(boa36['NCP회원번호']), 'N', 'Y')
paydb_option36_2['testdomainYn'] = np.where(paydb_option36_2['member_no'].isin(boa36['NCP회원번호']), 'N', 'Y')

In [88]:
paydb_option30.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option31.rename(columns= {'add_item_id':'base_item_id'},inplace=True)
paydb_option32.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option33.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option34.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option35.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option36_1.rename(columns = {'add_item_id':'base_item_id'},inplace=True)
paydb_option36_2.rename(columns = {'add_item_id':'base_item_id'},inplace=True)

In [90]:
paydb30 = pd.concat([paydb_base30, paydb_option30])
paydb31 = pd.concat([paydb_base31, paydb_option31])
paydb32 = pd.concat([paydb_base32, paydb_option32])
paydb33 = pd.concat([paydb_base33, paydb_option33])
paydb34 = pd.concat([paydb_base34, paydb_option34])
paydb35 = pd.concat([paydb_base35, paydb_option35])
paydb36 = pd.concat([paydb_base36_1, paydb_base36_2, paydb_option36_1, paydb_option36_2])

In [91]:
print(len(paydb1))
print(len(paydb2))
print(len(paydb3))
print(len(paydb4))
print(len(paydb5))
print(len(paydb6))
print(len(paydb7))
print(len(paydb8))
print(len(paydb9))
print(len(paydb10))
print(len(paydb11))
print(len(paydb12))
print(len(ncd13))
print(len(ncd14))
print(len(ncd15))
print(len(ncd16))
print(len(ncd17))
print(len(ncd18))
print(len(ncd19))
print(len(ncd20))
print(len(ncd21))
print(len(ncd22))
print(len(ncd23))
print(len(ncd24))
print(len(ncd25))
print(len(ncd26))
print(len(ncd27))
print(len(ncd28))
print(len(ncd29))
print(len(ncd30))
print(len(paydb30))
print(len(paydb31))
print(len(paydb32))
print(len(paydb33))
print(len(paydb34))
print(len(paydb35))
print(len(paydb36))

45552
47750
51458
55558
58342
61668
63531
66162
67757
70064
72643
74305
822479
749770
837685
818446
855459
833609
869055
876087
856599
888840
865899
902476
913172
863446
932839
911346
945963
92367
3364645
3941139
4243203
4272817
4351122
4250537
4373406

In [92]:
print(paydb1.columns)
print(ncd13.columns)
print(paydb30.columns)

Index(['domain_id', 'calc_ymd', 'subscription_id', 'tenant_id', 'seller_id',
       'base_item_id', 'pmnt_plan', 'pmnt_plan_start_ymd', 'pmnt_plan_end_ymd',
       'license_count', 'user_count', 'max_user_count', 'domain_status',
       'stop_payment_yn', 'member_no', 'instance_no', 'reg_ymdt',
       'testdomainYn', 'sub_item_id', 'item_count', 'usage_count'],
      dtype='object')
Index(['회원번호', '회원그룹코드', '회원그룹명', '파트너사회원번호', '청구유형코드', '청구유형코드명', '청구유형상세코드',
       '청구유형상세코드명', '인스턴스유형코드', '인스턴스유형코드명', '미터링유형코드', '미터링유형코드명', '계약번호',
       '인스턴스번호', '리전번호', '리전명', '계약상품일련번호', '약정여부', '요금', '미터링일시', '사용량',
       '상품사이즈', '상품갯수', '이벤트사용량', '사용량단위코드', '사용량단위명', 'base_item_id',
       'testdomainYn'],
      dtype='object')
Index(['domain_id', 'calc_ymd', 'subscription_id', 'tenant_id', 'seller_id',
       'base_item_id', 'pmnt_plan', 'pmnt_plan_start_ymd', 'pmnt_plan_end_ymd',
       'license_count', 'user_count', 'max_user_count', 'domain_status',
       'stop_payment_yn', 'member_no', 'instance_no', 'reg_ymdt',
       'testdomainYn', 'sub_item_id', 'item_count', 'usage_count'],
      dtype='object')

In [93]:
paydb1.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb2.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb3.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb4.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb5.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb6.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb7.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb8.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb9.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb10.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb11.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb12.rename(columns = {'base_item_id':'item_id'},inplace=True)
ncd13.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd14.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd15.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd16.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd17.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd18.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd19.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd20.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd21.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd22.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd23.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd24.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd25.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd26.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd27.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd28.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd29.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
ncd30.rename(columns = {'회원번호':'member_no','base_item_id':'item_id','미터링일시':'calc_ymd','사용량':'user_count'},inplace=True)
paydb30.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb31.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb32.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb33.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb34.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb35.rename(columns = {'base_item_id':'item_id'},inplace=True)
paydb36.rename(columns = {'base_item_id':'item_id'},inplace=True)

In [94]:
ncd13.loc[:,'calc_ymd'] = ncd13.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd13.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd13.loc[:,'calc_ymd'].astype(str).str[6:]
ncd14.loc[:,'calc_ymd'] = ncd14.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd14.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd14.loc[:,'calc_ymd'].astype(str).str[6:]
ncd15.loc[:,'calc_ymd'] = ncd15.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd15.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd15.loc[:,'calc_ymd'].astype(str).str[6:]
ncd16.loc[:,'calc_ymd'] = ncd16.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd16.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd16.loc[:,'calc_ymd'].astype(str).str[6:]
ncd17.loc[:,'calc_ymd'] = ncd17.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd17.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd17.loc[:,'calc_ymd'].astype(str).str[6:]
ncd18.loc[:,'calc_ymd'] = ncd18.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd18.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd18.loc[:,'calc_ymd'].astype(str).str[6:]
ncd19.loc[:,'calc_ymd'] = ncd19.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd19.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd19.loc[:,'calc_ymd'].astype(str).str[6:]
ncd20.loc[:,'calc_ymd'] = ncd20.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd20.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd20.loc[:,'calc_ymd'].astype(str).str[6:]
ncd21.loc[:,'calc_ymd'] = ncd21.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd21.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd21.loc[:,'calc_ymd'].astype(str).str[6:]
ncd22.loc[:,'calc_ymd'] = ncd22.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd22.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd22.loc[:,'calc_ymd'].astype(str).str[6:]
ncd23.loc[:,'calc_ymd'] = ncd23.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd23.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd23.loc[:,'calc_ymd'].astype(str).str[6:]
ncd24.loc[:,'calc_ymd'] = ncd24.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd24.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd24.loc[:,'calc_ymd'].astype(str).str[6:]
ncd25.loc[:,'calc_ymd'] = ncd25.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd25.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd25.loc[:,'calc_ymd'].astype(str).str[6:]
ncd26.loc[:,'calc_ymd'] = ncd26.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd26.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd26.loc[:,'calc_ymd'].astype(str).str[6:]
ncd27.loc[:,'calc_ymd'] = ncd27.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd27.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd27.loc[:,'calc_ymd'].astype(str).str[6:]
ncd28.loc[:,'calc_ymd'] = ncd28.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd28.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd28.loc[:,'calc_ymd'].astype(str).str[6:]
ncd29.loc[:,'calc_ymd'] = ncd29.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd29.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd29.loc[:,'calc_ymd'].astype(str).str[6:]
ncd30.loc[:,'calc_ymd'] = ncd30.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd30.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd30.loc[:,'calc_ymd'].astype(str).str[6:]

/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2023-01-20' '2023-01-21' '2023-01-22' ... '2023-01-31' '2023-01-31'
 '2023-01-31']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd13.loc[:,'calc_ymd'] = ncd13.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd13.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd13.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2023-02-01' '2023-02-02' '2023-02-03' ... '2023-02-28' '2023-02-27'
 '2023-02-28']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd14.loc[:,'calc_ymd'] = ncd14.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd14.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd14.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2023-03-21' '2023-03-22' '2023-03-23' ... '2023-03-30' '2023-03-31'
 '2023-03-31']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd15.loc[:,'calc_ymd'] = ncd15.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd15.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd15.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2023-04-01' '2023-04-02' '2023-04-03' ... '2023-04-28' '2023-04-29'
 '2023-04-30']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd16.loc[:,'calc_ymd'] = ncd16.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd16.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd16.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2023-05-01' '2023-05-02' '2023-05-03' ... '2023-05-23' '2023-05-24'
 '2023-05-25']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd17.loc[:,'calc_ymd'] = ncd17.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd17.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd17.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2023-06-01' '2023-06-02' '2023-06-03' ... '2023-06-28' '2023-06-29'
 '2023-06-30']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd18.loc[:,'calc_ymd'] = ncd18.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd18.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd18.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2023-07-17' '2023-07-01' '2023-07-02' ... '2023-07-29' '2023-07-30'
 '2023-07-31']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd19.loc[:,'calc_ymd'] = ncd19.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd19.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd19.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2023-08-03' '2023-08-04' '2023-08-30' ... '2023-08-29' '2023-08-30'
 '2023-08-31']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd20.loc[:,'calc_ymd'] = ncd20.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd20.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd20.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2023-09-01' '2023-09-02' '2023-09-03' ... '2023-09-28' '2023-09-29'
 '2023-09-30']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd21.loc[:,'calc_ymd'] = ncd21.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd21.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd21.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2023-10-01' '2023-10-02' '2023-10-03' ... '2023-10-29' '2023-10-30'
 '2023-10-31']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd22.loc[:,'calc_ymd'] = ncd22.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd22.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd22.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2023-11-23' '2023-11-24' '2023-11-25' ... '2023-11-28' '2023-11-29'
 '2023-11-30']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd23.loc[:,'calc_ymd'] = ncd23.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd23.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd23.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2023-12-01' '2023-12-02' '2023-12-03' ... '2023-12-29' '2023-12-30'
 '2023-12-31']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd24.loc[:,'calc_ymd'] = ncd24.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd24.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd24.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2024-01-01' '2024-01-02' '2024-01-03' ... '2024-01-31' '2024-01-30'
 '2024-01-31']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd25.loc[:,'calc_ymd'] = ncd25.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd25.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd25.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2024-02-01' '2024-02-02' '2024-02-03' ... '2024-02-27' '2024-02-28'
 '2024-02-29']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd26.loc[:,'calc_ymd'] = ncd26.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd26.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd26.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2024-03-01' '2024-03-02' '2024-03-03' ... '2024-03-29' '2024-03-30'
 '2024-03-31']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd27.loc[:,'calc_ymd'] = ncd27.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd27.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd27.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2024-04-01' '2024-04-02' '2024-04-02' ... '2024-04-24' '2024-04-25'
 '2024-04-26']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd28.loc[:,'calc_ymd'] = ncd28.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd28.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd28.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2024-05-25' '2024-05-26' '2024-05-27' ... '2024-05-31' '2024-05-30'
 '2024-05-31']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd29.loc[:,'calc_ymd'] = ncd29.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd29.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd29.loc[:,'calc_ymd'].astype(str).str[6:]
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_14641/2018848601.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2024-06-01' '2024-06-02' '2024-06-03' ... '2024-06-01' '2024-06-02'
 '2024-06-03']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ncd30.loc[:,'calc_ymd'] = ncd30.loc[:,'calc_ymd'].astype(str).str[:4] + '-' + ncd30.loc[:,'calc_ymd'].astype(str).str[4:6] + '-' + ncd30.loc[:,'calc_ymd'].astype(str).str[6:]

In [98]:
data = pd.concat([paydb1, paydb2, paydb3, paydb4, paydb5, paydb6, paydb7, paydb8, paydb9, paydb10, 
                  paydb11, paydb12, ncd13, ncd14, ncd15, ncd16, ncd17, ncd18, ncd19, ncd20,
                  ncd21, ncd22, ncd23, ncd24, ncd25, ncd26, ncd27, ncd28, ncd29, ncd30, 
                  paydb30, paydb31, paydb32, paydb33, paydb34, paydb35, paydb36])

In [99]:
len(data['item_id'].unique())

53

In [105]:
data['item_group'] = 'NAVER WORKS'
data.loc[data['item_id'].isin(['DRV_T','DRV_LT','DRV_STD','DRV_STD_P','OCE2']),'item_group']='WORKS DRIVE'
data.loc[data['item_id'].isin(['CNT_T','CNT_TM','CNT_LT','CNT_EP','CNT_BZ','QTA_O','QTA_M']),'item_group']='WORKS ClovaNote'
data.loc[data['item_id'].isin(['1LT_T','1LT','1BS_T','1BS','1HR','APP_T','ATT_T','FIN_T','PAY_T','APP_STD','ATT_STD','FIN_STD','PAY_STD','TXI','PLG','RSV','COC']),'item_group']='WORKPLACE'

In [106]:
data['item_id'] = data['item_id'].astype(str).str.lstrip('1')
data['ncpIdYn'] = np.where(data['member_no'].isna(), 'N', 'Y')
columns_to_move = ['member_no', 'item_group', 'item_id', 'calc_ymd', 'user_count','testdomainYn','ncpIdYn']
data = data[columns_to_move + [col for col in data.columns if col not in columns_to_move]]
len(data['item_id'].unique())

49

In [110]:
data

,member_no,item_group,item_id,calc_ymd,user_count,testdomainYn,ncpIdYn,domain_id,subscription_id,tenant_id,seller_id,pmnt_plan,pmnt_plan_start_ymd,pmnt_plan_end_ymd,license_count,max_user_count,domain_status,stop_payment_yn,instance_no,reg_ymdt,sub_item_id,item_count,usage_count,회원그룹코드,회원그룹명,파트너사회원번호,청구유형코드,청구유형코드명,청구유형상세코드,청구유형상세코드명,인스턴스유형코드,인스턴스유형코드명,미터링유형코드,미터링유형코드명,계약번호,인스턴스번호,리전번호,리전명,계약상품일련번호,약정여부,요금,상품사이즈,상품갯수,이벤트사용량,사용량단위코드,사용량단위명
0,NaN,NAVER WORKS,PRM_T,2022-01-26,11227.0,nan,N,7.0,2011.0,7.0,0.0,0.0,2016-10-26,2100-12-31,NaN,NaN,0.0,1.0,NaN,2022-01-27 00:01:35.299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2683165.0,NAVER WORKS,BS,2022-01-26,4.0,N,Y,2022.0,7011.0,2022.0,21366.0,4.0,2022-01-20,2023-01-19,NaN,NaN,0.0,1.0,7157327.0,2022-01-27 00:01:35.297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2709122.0,NAVER WORKS,BS,2022-01-26,18.0,N,Y,2058.0,22567011.0,2058.0,0.0,4.0,2021-09-27,2022-09-26,NaN,NaN,0.0,1.0,8304129.0,2022-01-27 00:01:35.308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2681965.0,NAVER WORKS,PRM_T,2022-01-26,18.0,nan,Y,2067.0,8011.0,2067.0,0.0,0.0,2016-10-26,2100-12-31,NaN,NaN,0.0,1.0,6898601.0,2022-01-27 00:01:35.307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2686713.0,NAVER WORKS,BS,2022-01-26,2.0,N,Y,2111.0,27528011.0,2111.0,0.0,4.0,2021-10-31,2022-10-30,NaN,NaN,0.0,1.0,7641688.0,2022-01-27 00:01:35.315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64874,3328566.0,WORKPLACE,TXI,2024-12-31,NaN,Y,Y,300145897.0,366466011.0,300143743.0,300143743.0,1.0,2024-12-01,2024-12-31,NaN,NaN,0.0,1.0,25660523.0,2025-01-01 00:06:33.018,TXI01,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64875,3328569.0,WORKPLACE,TXI,2024-12-31,NaN,Y,Y,300145898.0,366470011.0,300143743.0,300143743.0,1.0,2024-12-01,2024-12-31,NaN,NaN,0.0,1.0,26144304.0,2025-01-01 00:06:33.014,TXI01,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64876,3336945.0,WORKPLACE,TXI,2024-12-31,NaN,Y,Y,300179499.0,425716011.0,300179499.0,300143743.0,1.0,2024-12-01,2024-12-31,NaN,NaN,0.0,1.0,100550991.0,2025-01-01 00:08:03.052,TXI01,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64877,3340336.0,WORKPLACE,TXI,2024-12-31,NaN,Y,Y,300149407.0,350173011.0,300149407.0,300149406.0,1.0,2024-12-01,2024-12-31,NaN,NaN,0.0,1.0,25789467.0,2025-01-01 00:06:47.183,TXI01,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64878,2918584.0,WORKPLACE,TXI,2024-12-31,NaN,N,Y,300044657.0,353470011.0,300044657.0,300173303.0,1.0,2024-12-01,2024-12-31,NaN,NaN,0.0,1.0,25786144.0,2025-01-01 00:02:42.432,TXI01,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
data.to_csv('/Users/user/Documents/진행중 업무/data_integration.csv',index=False)

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
plt.rcParams['font.family'] = 'AppleGothic'

pd.set_option('display.max_columns', None)

In [3]:
data = pd.read_csv('/Users/user/Documents/진행중 업무/data_integration.csv')

/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_16870/1453651056.py:1: DtypeWarning: Columns (12,13,19,20,23,24,26,27,28,29,30,31,32,33,37,39,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/Users/user/Documents/진행중 업무/data_integration.csv')

In [4]:
paydb_base_2023 = pd.read_csv('/Users/user/Documents/진행중 업무/2023년 주간 base.csv')
paydb_base_2024 = pd.read_csv('/Users/user/Documents/진행중 업무/2024년 base(~2024.6.3) 주간.csv')

paydb_option_2023 = pd.read_csv('/Users/user/Documents/진행중 업무/2023년 option(주간).csv')
paydb_option_2024 = pd.read_csv('/Users/user/Documents/진행중 업무/2024년 option 주간(~2024.6.3).csv')

In [5]:
data = data[['member_no', 'item_group', 'item_id', 'calc_ymd', 'user_count', 'testdomainYn', 'ncpIdYn', 'domain_id', 'tenant_id', 'seller_id', 'pmnt_plan_start_ymd', 'pmnt_plan_end_ymd','회원그룹코드']]
paydb_base_2324 = pd.concat([paydb_base_2023, paydb_base_2024])
paydb_base_2324 = paydb_base_2324.rename(columns = {'base_item_id':'item_id'})

In [6]:
paydb_base_2324['item_group'] = 'NAVER WORKS'
paydb_base_2324.loc[paydb_base_2324['item_id'].isin(['DRV_T','DRV_LT','DRV_STD','DRV_STD_P','OCE2']),'item_group']='WORKS DRIVE'
paydb_base_2324.loc[paydb_base_2324['item_id'].isin(['CNT_T','CNT_TM','CNT_LT','CNT_EP','CNT_BZ','QTA_O','QTA_M']),'item_group']='WORKS ClovaNote'
paydb_base_2324.loc[paydb_base_2324['item_id'].isin(['APP_T','ATT_T','FIN_T','PAY_T','APP_STD','ATT_STD','FIN_STD','PAY_STD','TXI','PLG','RSV','COC']),'item_group']='WORKPLACE'
paydb_base_2324 = paydb_base_2324.drop_duplicates(subset=['member_no','item_group'],keep='first')

In [7]:
columns_to_update = ['domain_id', 'tenant_id', 'seller_id', 'pmnt_plan_start_ymd', 'pmnt_plan_end_ymd']
paydb_base_2324 = paydb_base_2324[['member_no', 'item_group'] + columns_to_update]
data = pd.merge(data, paydb_base_2324, on = ['member_no','item_group'], how = 'left')
data.loc[data['회원그룹코드']=='GEN','seller_id_x'] = 0

In [8]:
data['domain_id_x'] = data['domain_id_x'].fillna(data['domain_id_y'])
data['tenant_id_x'] = data['tenant_id_x'].fillna(data['tenant_id_y'])
data['seller_id_x'] = data['seller_id_x'].fillna(data['seller_id_y'])
data['pmnt_plan_start_ymd_x'] = data['pmnt_plan_start_ymd_x'].fillna(data['pmnt_plan_start_ymd_y'])
data['pmnt_plan_end_ymd_x'] = data['pmnt_plan_end_ymd_x'].fillna(data['pmnt_plan_end_ymd_y'])
data['seller_id_x'] = data['seller_id_x'].fillna(data['seller_id_y'])

In [9]:
data = data.drop(['domain_id_y','tenant_id_y','seller_id_y','pmnt_plan_start_ymd_y','pmnt_plan_end_ymd_y','회원그룹코드'],axis=1)
data = data.rename(columns = {'domain_id_x':'domain_id','tenant_id_x':'tenant_id','seller_id_x':'seller_id','pmnt_plan_start_ymd_x':'pmnt_plan_start_ymd','pmnt_plan_end_ymd_x':'pmnt_plan_end_ymd'})

In [10]:
print(len(data[data['member_no'].isna()]))
print(len(data[data['item_group'].isna()]))
print(len(data[data['item_id'].isna()]))
print(len(data[data['calc_ymd'].isna()]))
print(len(data[data['user_count'].isna()]))
print(len(data[data['testdomainYn'].isna()]))
print(len(data[data['ncpIdYn'].isna()]))
print(len(data[data['domain_id'].isna()]))
print(len(data[data['tenant_id'].isna()]))
print(len(data[data['seller_id'].isna()]))
print(len(data[data['pmnt_plan_start_ymd'].isna()]))
print(len(data[data['pmnt_plan_end_ymd'].isna()]))

6468126
0
0
0
192946
11568322
0
1734141
1734141
366927
1734141
11882515

In [11]:
data.to_csv('/Users/user/Documents/진행중 업무/integrated_data.csv',index=False)

In [12]:
data

,member_no,item_group,item_id,calc_ymd,user_count,testdomainYn,ncpIdYn,domain_id,tenant_id,seller_id,pmnt_plan_start_ymd,pmnt_plan_end_ymd
0,NaN,NAVER WORKS,PRM_T,2022-01-26,11227.0,NaN,N,7.0,7.0,0.0,2016-10-26,2100-12-31
1,2683165.0,NAVER WORKS,BS,2022-01-26,4.0,N,Y,2022.0,2022.0,21366.0,2022-01-20,2023-01-19
2,2709122.0,NAVER WORKS,BS,2022-01-26,18.0,N,Y,2058.0,2058.0,0.0,2021-09-27,2022-09-26
3,2681965.0,NAVER WORKS,PRM_T,2022-01-26,18.0,NaN,Y,2067.0,2067.0,0.0,2016-10-26,2100-12-31
4,2686713.0,NAVER WORKS,BS,2022-01-26,2.0,N,Y,2111.0,2111.0,0.0,2021-10-31,2022-10-30
...,...,...,...,...,...,...,...,...,...,...,...,...
44367191,3328566.0,WORKPLACE,TXI,2024-12-31,NaN,Y,Y,300145897.0,300143743.0,300143743.0,2024-12-01,2024-12-31
44367192,3328569.0,WORKPLACE,TXI,2024-12-31,NaN,Y,Y,300145898.0,300143743.0,300143743.0,2024-12-01,2024-12-31
44367193,3336945.0,WORKPLACE,TXI,2024-12-31,NaN,Y,Y,300179499.0,300179499.0,300143743.0,2024-12-01,2024-12-31
44367194,3340336.0,WORKPLACE,TXI,2024-12-31,NaN,Y,Y,300149407.0,300149407.0,300149406.0,2024-12-01,2024-12-31
44367195,2918584.0,WORKPLACE,TXI,2024-12-31,NaN,N,Y,300044657.0,300044657.0,300173303.0,2024-12-01,2024-12-31

In [3]:
#월요일 요청사항 반영

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
plt.rcParams['font.family'] = 'AppleGothic'

In [2]:
data = pd.read_csv('/Users/user/Documents/진행중 업무/integrated_data.csv')

In [3]:
base = data[~data['item_id'].isin(['ACV','ACV4','ACV5','OCE1','OCE2','QTA_O','QTA_M','TXI','PLG','RSV','COC','SSTG'])]
option = data[data['item_id'].isin(['ACV','ACV4','ACV5','OCE1','OCE2','QTA_O','QTA_M','TXI','PLG','RSV','COC','SSTG'])]

In [4]:
from datetime import datetime

base.loc[base['item_group']=='NAVER WORKS','item_group'] = '웍스코어'
base.loc[base['item_group']=='WORKS DRIVE','item_group'] = '드라이브'
base.loc[base['item_group']=='WORKPLACE','item_group'] = '경영지원'
base.loc[base['item_group']=='WORKS ClovaNote','item_group'] = '클로바노트'
base.loc[base['item_id'].isin(['ATT_T','ATT_STD']),'item_group'] = '근태'
base.loc[base['item_id'].isin(['FIN_T','FIN_STD']),'item_group'] = '재무'
base.loc[base['item_id'].isin(['HR','PAY_T','PAY_STD']),'item_group'] = '급여'
base = base.copy()
base['odPartnerStatus'] = np.where(base['seller_id']==0,'OD','Partner')
base['groupType'] = np.where(base['item_id'].str.endswith('_T'),'Trial',
                                        np.where(base['item_id'].str.endswith('FR'),'Free','Paid'))
base['calc_ymd'] = pd.to_datetime(base['calc_ymd'])
start_date = datetime(2023, 1, 1)
base['date_code'] = (base['calc_ymd'] - start_date).dt.days + 91
base.loc[base['calc_ymd'].astype(str).str[0:4] =='2022','date_code'] = base['calc_ymd'].astype(str).str[5:7].astype(int) * 7
base['plan_prefix'] = base['item_id'].str[0:2]
base

,member_no,item_group,item_id,calc_ymd,user_count,testdomainYn,ncpIdYn,domain_id,tenant_id,seller_id,pmnt_plan_start_ymd,pmnt_plan_end_ymd,odPartnerStatus,groupType,date_code,plan_prefix
0,NaN,웍스코어,PRM_T,2022-01-26,11227.0,NaN,N,7.0,7.0,0.0,2016-10-26,2100-12-31,OD,Trial,7,PR
1,2683165.0,웍스코어,BS,2022-01-26,4.0,N,Y,2022.0,2022.0,21366.0,2022-01-20,2023-01-19,Partner,Paid,7,BS
2,2709122.0,웍스코어,BS,2022-01-26,18.0,N,Y,2058.0,2058.0,0.0,2021-09-27,2022-09-26,OD,Paid,7,BS
3,2681965.0,웍스코어,PRM_T,2022-01-26,18.0,NaN,Y,2067.0,2067.0,0.0,2016-10-26,2100-12-31,OD,Trial,7,PR
4,2686713.0,웍스코어,BS,2022-01-26,2.0,N,Y,2111.0,2111.0,0.0,2021-10-31,2022-10-30,OD,Paid,7,BS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43677694,2590507.0,근태,ATT_STD,2024-12-31,51.0,N,Y,160276.0,160276.0,300184752.0,2024-06-04,2025-04-27,Partner,Paid,821,AT
43677695,3438829.0,클로바노트,CNT_T,2024-12-31,12.0,NaN,Y,300184752.0,300184752.0,300184752.0,2024-12-23,2025-01-21,Partner,Trial,821,CN
43677696,2590507.0,웍스코어,COR_STD_P,2024-12-31,51.0,N,Y,160276.0,160276.0,300184752.0,2024-06-04,2025-04-27,Partner,Paid,821,CO
43677697,3438829.0,웍스코어,COR_T,2024-12-31,12.0,NaN,Y,300184752.0,300184752.0,300184752.0,2024-12-19,2025-01-17,Partner,Trial,821,CO
43677698,2590507.0,재무,FIN_STD,2024-12-31,51.0,N,Y,160276.0,160276.0,300184752.0,2024-06-04,2025-04-27,Partner,Paid,821,FI

In [6]:
base_add_days = base.copy()
rows_to_duplicate = base_add_days[base_add_days['date_code'] == 84]
duplicated_rows = pd.concat(
    [rows_to_duplicate.assign(date_code=code) for code in range(85, 91)],
    ignore_index=True
)
base_add_days = pd.concat([base_add_days, duplicated_rows], ignore_index=True)
base_add_days['date_code'] = base_add_days['date_code'] + 7
base_add_days

,member_no,item_group,item_id,calc_ymd,user_count,testdomainYn,ncpIdYn,domain_id,tenant_id,seller_id,pmnt_plan_start_ymd,pmnt_plan_end_ymd,odPartnerStatus,groupType,date_code,plan_prefix
0,NaN,웍스코어,PRM_T,2022-01-26,11227.0,NaN,N,7.0,7.0,0.0,2016-10-26,2100-12-31,OD,Trial,14,PR
1,2683165.0,웍스코어,BS,2022-01-26,4.0,N,Y,2022.0,2022.0,21366.0,2022-01-20,2023-01-19,Partner,Paid,14,BS
2,2709122.0,웍스코어,BS,2022-01-26,18.0,N,Y,2058.0,2058.0,0.0,2021-09-27,2022-09-26,OD,Paid,14,BS
3,2681965.0,웍스코어,PRM_T,2022-01-26,18.0,NaN,Y,2067.0,2067.0,0.0,2016-10-26,2100-12-31,OD,Trial,14,PR
4,2686713.0,웍스코어,BS,2022-01-26,2.0,N,Y,2111.0,2111.0,0.0,2021-10-31,2022-10-30,OD,Paid,14,BS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40379365,2987079.0,웍스코어,FR,2022-12-28,2.0,NaN,Y,300062313.0,300062313.0,0.0,2022-12-28,NaN,OD,Free,97,FR
40379366,2987078.0,웍스코어,FR,2022-12-28,1.0,NaN,Y,300062314.0,300062314.0,0.0,2022-12-28,NaN,OD,Free,97,FR
40379367,2987080.0,웍스코어,FR,2022-12-28,1.0,NaN,Y,300062315.0,300062315.0,0.0,2022-12-28,NaN,OD,Free,97,FR
40379368,2835417.0,웍스코어,FR,2022-12-28,1.0,NaN,Y,300062316.0,300062316.0,0.0,2022-12-28,NaN,OD,Free,97,FR
40379369,2987096.0,웍스코어,FR,2022-12-28,1.0,NaN,Y,300062317.0,300062317.0,0.0,2022-12-28,NaN,OD,Free,97,FR

In [7]:
percentile_thresholds = []
for i in range(10, 101, 10):
    percentile_value = base['domain_id'].quantile(i / 100)
    percentile_thresholds.append(percentile_value)

percentile_thresholds

[77749.0,
 129447.0,
 185112.0,
 226805.0,
 300019155.0,
 300052298.0,
 300094326.0,
 300118115.0,
 300139073.0,
 300186703.0]

In [8]:
base0 = base[(base['domain_id'].isna())]
base1 = base[(base['domain_id']<=77749)]
base2 = base[(base['domain_id']<=129447)&(base['domain_id']>77749)]
base3 = base[(base['domain_id']<=185112)&(base['domain_id']>129447)]
base4 = base[(base['domain_id']<=226805)&(base['domain_id']>185112)]
base5 = base[(base['domain_id']<=300019155)&(base['domain_id']>226805)]
base6 = base[(base['domain_id']<=300052298)&(base['domain_id']>300019155)]
base7 = base[(base['domain_id']<=300094326)&(base['domain_id']>300052298)]
base8 = base[(base['domain_id']<=300118115)&(base['domain_id']>300094326)]
base9 = base[(base['domain_id']<=300139073)&(base['domain_id']>300118115)]
base10 = base[(base['domain_id']>300139073)]

base_add_days1 = base_add_days[(base_add_days['domain_id']<=77749)]
base_add_days2 = base_add_days[(base_add_days['domain_id']<=129447)&(base_add_days['domain_id']>77749)]
base_add_days3 = base_add_days[(base_add_days['domain_id']<=185112)&(base_add_days['domain_id']>129447)]
base_add_days4 = base_add_days[(base_add_days['domain_id']<=226805)&(base_add_days['domain_id']>185112)]
base_add_days5 = base_add_days[(base_add_days['domain_id']<=300019155)&(base_add_days['domain_id']>226805)]
base_add_days6 = base_add_days[(base_add_days['domain_id']<=300052298)&(base_add_days['domain_id']>300019155)]
base_add_days7 = base_add_days[(base_add_days['domain_id']<=300094326)&(base_add_days['domain_id']>300052298)]
base_add_days8 = base_add_days[(base_add_days['domain_id']<=300118115)&(base_add_days['domain_id']>300094326)]
base_add_days9 = base_add_days[(base_add_days['domain_id']<=300139073)&(base_add_days['domain_id']>300118115)]
base_add_days10 = base_add_days[(base_add_days['domain_id']>300139073)]

In [9]:
merged_base1 = pd.merge(
    base1, base_add_days1,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','plan_prefix'],
    suffixes=('_cr', '_bf')
)
merged_base2 = pd.merge(
    base2, base_add_days2,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','plan_prefix'],
    suffixes=('_cr', '_bf')
)
merged_base3 = pd.merge(
    base3, base_add_days3,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','plan_prefix'],
    suffixes=('_cr', '_bf')
)
merged_base4 = pd.merge(
    base4, base_add_days4,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','plan_prefix'],
    suffixes=('_cr', '_bf')
)
merged_base5 = pd.merge(
    base5, base_add_days5,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','plan_prefix'],
    suffixes=('_cr', '_bf')
)
merged_base6 = pd.merge(
    base6, base_add_days6,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','plan_prefix'],
    suffixes=('_cr', '_bf')
)
merged_base7 = pd.merge(
    base7, base_add_days7,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','plan_prefix'],
    suffixes=('_cr', '_bf')
)
merged_base8 = pd.merge(
    base8, base_add_days8,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','plan_prefix'],
    suffixes=('_cr', '_bf')
)
merged_base9 = pd.merge(
    base9, base_add_days9,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','plan_prefix'],
    suffixes=('_cr', '_bf')
)
merged_base10 = pd.merge(
    base10, base_add_days10,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','plan_prefix'],
    suffixes=('_cr', '_bf')
)

In [10]:
from datetime import timedelta
base0 = base0.rename(columns = {'calc_ymd':'calc_ymd_cr','member_no':'member_no_cr','item_id':'item_id_cr','user_count':'user_count_cr','testdomainYn':'testdomainYn_cr','ncpIdYn':'ncpIdYn_cr','tenant_id':'tenant_id_cr','seller_id':'seller_id_cr','pmnt_plan_start_ymd':'pmnt_plan_start_ymd_cr','pmnt_plan_end_ymd':'pmnt_plan_end_ymd_cr','odPartnerStatus':'odPartnerStatus_cr','groupType':'groupType_cr'})
merged_base = pd.concat([base0, merged_base1, merged_base2, merged_base3, merged_base4, merged_base5, merged_base6, merged_base7, merged_base8, merged_base9, merged_base10])
merged_base['calc_ymd_bf'] = merged_base['calc_ymd_bf'] + timedelta(days=7)
merged_base['calc_ymd_cr'] = merged_base['calc_ymd_cr'].fillna(merged_base['calc_ymd_bf'])
merged_base = merged_base[~merged_base['date_code'].between(85, 90)]
columns_to_move = ['domain_id', 'calc_ymd_cr', 'item_group']
merged_base = merged_base[columns_to_move + [col for col in merged_base.columns if col not in columns_to_move]]
merged_base

,domain_id,calc_ymd_cr,item_group,member_no_cr,item_id_cr,user_count_cr,testdomainYn_cr,ncpIdYn_cr,tenant_id_cr,seller_id_cr,...,calc_ymd_bf,user_count_bf,testdomainYn_bf,ncpIdYn_bf,tenant_id_bf,seller_id_bf,pmnt_plan_start_ymd_bf,pmnt_plan_end_ymd_bf,odPartnerStatus_bf,groupType_bf
734790,NaN,2023-01-20,웍스코어,2947.0,LT_T,3.0,N,Y,NaN,0.0,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
734791,NaN,2023-01-21,웍스코어,2947.0,LT_T,3.0,N,Y,NaN,0.0,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
734792,NaN,2023-01-22,웍스코어,2947.0,LT_T,3.0,N,Y,NaN,0.0,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
734793,NaN,2023-01-23,웍스코어,2947.0,LT_T,3.0,N,Y,NaN,0.0,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
734794,NaN,2023-01-24,웍스코어,2947.0,LT_T,3.0,N,Y,NaN,0.0,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4169316,300186701.0,2025-01-07,웍스코어,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2025-01-07,2.0,NaN,Y,300186701.0,0.0,2024-12-31,2025-01-29,OD,Trial
4169317,300186702.0,2024-12-31,웍스코어,3451200.0,COR_STD,1.0,N,Y,300186702.0,0.0,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4169318,300186702.0,2025-01-07,웍스코어,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2025-01-07,1.0,N,Y,300186702.0,0.0,2024-12-31,2024-12-31,OD,Paid
4169319,300186703.0,2024-12-31,웍스코어,3451206.0,COR_T,1.0,NaN,Y,300186703.0,0.0,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4169320,300186703.0,2025-01-07,웍스코어,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2025-01-07,1.0,NaN,Y,300186703.0,0.0,2024-12-31,2025-01-29,OD,Trial

In [17]:
merged_base = merged_base.drop(['date_code','calc_ymd_bf','plan_prefix'],axis=1)
merged_base = merged_base.rename(columns = {'domain_id':'domainId','calc_ymd_cr':'date','item_group':'productGroup','member_no_cr':'ncpId_cr','member_no_bf':'ncpId_bf','item_id_cr':'plan_cr','item_id_bf':'plan_bf',
                                            'user_count_cr':'userCount_cr','user_count_bf':'userCount_bf','testdomainYn_cr':'testdomainyn_cr','testdomainYn_bf':'testdomainyn_bf','tenant_id_cr':'tenantId_cr','tenant_id_bf':'tenantId_bf',
                                            'seller_id_cr':'partnerDomainId_cr','seller_id_bf':'partnerDomainId_bf','pmnt_plan_start_ymd_cr':'paymentPlanStartDate_cr','pmnt_plan_start_ymd_bf':'paymentPlanStartDate_bf',
                                            'pmnt_plan_end_ymd_cr':'paymentPlanEndDate_cr','pmnt_plan_end_ymd_bf':'paymentPlanEndDate_bf'})

In [27]:
merged_base.to_csv('/Users/user/Documents/진행중 업무/base_integrated_data.csv',index=False)

In [28]:
from datetime import datetime

option.loc[option['item_id']=='ACV','item_group'] = '메세지 아카이빙'
option.loc[option['item_id']=='SSTG','item_group'] = '추가 공용용량'
option.loc[option['item_id']=='OCE1','item_group'] = '웍스코어 공동편집'
option.loc[option['item_id']=='OCE2','item_group'] = '드라이브 공동편집'
option.loc[option['item_id']=='QTA_O','item_group'] = '클로바노트 추가쿼터(갱신)'
option.loc[option['item_id']=='QTA_M','item_group'] = '클로바노트 추가쿼터(1회)'
option.loc[option['item_id']=='TXI','item_group'] = '결재 세금계산서'
option.loc[option['item_id']=='PLG','item_group'] = '결재 서약서'
option.loc[option['item_id']=='RSV','item_group'] = '결재 예약'
option.loc[option['item_id']=='COC','item_group'] = '재무 법인카드 연동'
option.loc[option['item_id'].isin(['ACV4','ACV5']),'item_group'] = '웍스코어 공용용량'
option = option.copy()
option['odPartnerStatus'] = np.where(option['seller_id']==0,'OD','Partner')
option['calc_ymd'] = pd.to_datetime(option['calc_ymd'])
start_date = datetime(2023, 1, 1)
option['date_code'] = (option['calc_ymd'] - start_date).dt.days + 91
option.loc[option['calc_ymd'].astype(str).str[0:4] =='2022','date_code'] = option['calc_ymd'].astype(str).str[5:7].astype(int) * 7
option

,member_no,item_group,item_id,calc_ymd,user_count,testdomainYn,ncpIdYn,domain_id,tenant_id,seller_id,pmnt_plan_start_ymd,pmnt_plan_end_ymd,odPartnerStatus,date_code
45531,1629.0,메세지 아카이빙,ACV,2022-01-26,1.0,Y,Y,229850.0,229850.0,0.0,2021-06-28,2022-06-27,OD,7
45532,NaN,메세지 아카이빙,ACV,2022-01-26,15.0,Y,N,104159.0,104159.0,42759.0,2021-10-10,2022-10-09,Partner,7
45533,NaN,메세지 아카이빙,ACV,2022-01-26,1.0,Y,N,134780.0,42759.0,42759.0,2018-03-12,2031-12-31,Partner,7
45534,NaN,메세지 아카이빙,ACV,2022-01-26,11.0,Y,N,112365.0,112365.0,112365.0,2021-10-10,2022-10-09,Partner,7
45535,NaN,메세지 아카이빙,ACV,2022-01-26,1.0,Y,N,171800.0,171800.0,131855.0,2021-08-13,2022-08-12,Partner,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44367191,3328566.0,결재 세금계산서,TXI,2024-12-31,NaN,Y,Y,300145897.0,300143743.0,300143743.0,2024-12-01,2024-12-31,Partner,821
44367192,3328569.0,결재 세금계산서,TXI,2024-12-31,NaN,Y,Y,300145898.0,300143743.0,300143743.0,2024-12-01,2024-12-31,Partner,821
44367193,3336945.0,결재 세금계산서,TXI,2024-12-31,NaN,Y,Y,300179499.0,300179499.0,300143743.0,2024-12-01,2024-12-31,Partner,821
44367194,3340336.0,결재 세금계산서,TXI,2024-12-31,NaN,Y,Y,300149407.0,300149407.0,300149406.0,2024-12-01,2024-12-31,Partner,821
44367195,2918584.0,결재 세금계산서,TXI,2024-12-31,NaN,N,Y,300044657.0,300044657.0,300173303.0,2024-12-01,2024-12-31,Partner,821

In [29]:
option_add_days = option.copy()
rows_to_duplicate = option_add_days[option_add_days['date_code'] == 84]
duplicated_rows = pd.concat(
    [rows_to_duplicate.assign(date_code=code) for code in range(85, 91)],
    ignore_index=True
)
option_add_days = pd.concat([option_add_days, duplicated_rows], ignore_index=True)
option_add_days['date_code'] = option_add_days['date_code'] + 7
option_add_days

,member_no,item_group,item_id,calc_ymd,user_count,testdomainYn,ncpIdYn,domain_id,tenant_id,seller_id,pmnt_plan_start_ymd,pmnt_plan_end_ymd,odPartnerStatus,date_code
0,1629.0,메세지 아카이빙,ACV,2022-01-26,1.0,Y,Y,229850.0,229850.0,0.0,2021-06-28,2022-06-27,OD,14
1,NaN,메세지 아카이빙,ACV,2022-01-26,15.0,Y,N,104159.0,104159.0,42759.0,2021-10-10,2022-10-09,Partner,14
2,NaN,메세지 아카이빙,ACV,2022-01-26,1.0,Y,N,134780.0,42759.0,42759.0,2018-03-12,2031-12-31,Partner,14
3,NaN,메세지 아카이빙,ACV,2022-01-26,11.0,Y,N,112365.0,112365.0,112365.0,2021-10-10,2022-10-09,Partner,14
4,NaN,메세지 아카이빙,ACV,2022-01-26,1.0,Y,N,171800.0,171800.0,131855.0,2021-08-13,2022-08-12,Partner,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4433651,2692090.0,추가 공용용량,SSTG,2022-12-28,NaN,N,Y,118080.0,118080.0,300048810.0,2022-12-17,2023-12-16,Partner,97
4433652,2682433.0,추가 공용용량,SSTG,2022-12-28,NaN,N,Y,118312.0,28548.0,300048810.0,2022-01-01,2022-12-31,Partner,97
4433653,2729636.0,추가 공용용량,SSTG,2022-12-28,NaN,N,Y,118342.0,28548.0,300048810.0,2022-01-01,2022-12-31,Partner,97
4433654,2657473.0,추가 공용용량,SSTG,2022-12-28,NaN,N,Y,135013.0,135013.0,300048810.0,2022-04-02,2023-04-01,Partner,97
4433655,2697715.0,추가 공용용량,SSTG,2022-12-28,NaN,N,Y,143755.0,143755.0,300048810.0,2022-02-01,2023-01-31,Partner,97

In [30]:
percentile_thresholds = []
for i in range(10, 101, 10):
    percentile_value = option['domain_id'].quantile(i / 100)
    percentile_thresholds.append(percentile_value)

percentile_thresholds

[90488.0,
 135696.0,
 171507.0,
 300009291.0,
 300070278.0,
 300133448.0,
 300155156.0,
 300165076.0,
 300174211.0,
 300186703.0]

In [31]:
option0 = option[(option['domain_id'].isna())]
option1 = option[(option['domain_id']<=90488)]
option2 = option[(option['domain_id']<=135696)&(option['domain_id']>90488)]
option3 = option[(option['domain_id']<=171507)&(option['domain_id']>135696)]
option4 = option[(option['domain_id']<=300009291)&(option['domain_id']>171507)]
option5 = option[(option['domain_id']<=300070278)&(option['domain_id']>300009291)]
option6 = option[(option['domain_id']<=300133448)&(option['domain_id']>300070278)]
option7 = option[(option['domain_id']<=300155156)&(option['domain_id']>300133448)]
option8 = option[(option['domain_id']<=300165076)&(option['domain_id']>300155156)]
option9 = option[(option['domain_id']<=300174211)&(option['domain_id']>300165076)]
option10 = option[(option['domain_id']>300174211)]

option_add_days1 = option_add_days[(option_add_days['domain_id']<=90488)]
option_add_days2 = option_add_days[(option_add_days['domain_id']<=135696)&(option_add_days['domain_id']>90488)]
option_add_days3 = option_add_days[(option_add_days['domain_id']<=171507)&(option_add_days['domain_id']>135696)]
option_add_days4 = option_add_days[(option_add_days['domain_id']<=300009291)&(option_add_days['domain_id']>171507)]
option_add_days5 = option_add_days[(option_add_days['domain_id']<=300070278)&(option_add_days['domain_id']>300009291)]
option_add_days6 = option_add_days[(option_add_days['domain_id']<=300133448)&(option_add_days['domain_id']>300070278)]
option_add_days7 = option_add_days[(option_add_days['domain_id']<=300155156)&(option_add_days['domain_id']>300133448)]
option_add_days8 = option_add_days[(option_add_days['domain_id']<=300165076)&(option_add_days['domain_id']>300155156)]
option_add_days9 = option_add_days[(option_add_days['domain_id']<=300174211)&(option_add_days['domain_id']>300165076)]
option_add_days10 = option_add_days[(option_add_days['domain_id']>300174211)]

In [32]:
merged_option1 = pd.merge(
    option1, option_add_days1,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','item_id'],
    suffixes=('_cr', '_bf')
)
merged_option2 = pd.merge(
    option2, option_add_days2,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','item_id'],
    suffixes=('_cr', '_bf')
)
merged_option3 = pd.merge(
    option3, option_add_days3,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','item_id'],
    suffixes=('_cr', '_bf')
)
merged_option4 = pd.merge(
    option4, option_add_days4,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','item_id'],
    suffixes=('_cr', '_bf')
)
merged_option5 = pd.merge(
    option5, option_add_days5,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','item_id'],
    suffixes=('_cr', '_bf')
)
merged_option6 = pd.merge(
    option6, option_add_days6,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','item_id'],
    suffixes=('_cr', '_bf')
)
merged_option7 = pd.merge(
    option7, option_add_days7,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','item_id'],
    suffixes=('_cr', '_bf')
)
merged_option8 = pd.merge(
    option8, option_add_days8,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','item_id'],
    suffixes=('_cr', '_bf')
)
merged_option9 = pd.merge(
    option9, option_add_days9,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','item_id'],
    suffixes=('_cr', '_bf')
)
merged_option10 = pd.merge(
    option10, option_add_days10,
    how='outer',
    on=['domain_id', 'date_code', 'item_group','item_id'],
    suffixes=('_cr', '_bf')
)

In [33]:
option0 = option0.rename(columns = {'calc_ymd':'calc_ymd_cr','member_no':'member_no_cr','user_count':'user_count_cr','testdomainYn':'testdomainYn_cr','ncpIdYn':'ncpIdYn_cr','tenant_id':'tenant_id_cr','seller_id':'seller_id_cr','pmnt_plan_start_ymd':'pmnt_plan_start_ymd_cr','pmnt_plan_end_ymd':'pmnt_plan_end_ymd_cr','odPartnerStatus':'odPartnerStatus_cr','groupType':'groupType_cr'})
merged_option = pd.concat([option0, merged_option1, merged_option2, merged_option3, merged_option4, merged_option5, merged_option6, merged_option7, merged_option8, merged_option9, merged_option10])
merged_option['calc_ymd_bf'] = merged_option['calc_ymd_bf'] + timedelta(days=7)
merged_option['calc_ymd_cr'] = merged_option['calc_ymd_cr'].fillna(merged_option['calc_ymd_bf'])
merged_option = merged_option[~merged_option['date_code'].between(85, 90)]
columns_to_move = ['domain_id', 'calc_ymd_cr', 'item_group','item_id']
merged_option = merged_option[columns_to_move + [col for col in merged_option.columns if col not in columns_to_move]]

In [34]:
merged_option = merged_option.drop(['date_code','calc_ymd_bf'],axis=1)
merged_option = merged_option.rename(columns = {'domain_id':'domainId','calc_ymd_cr':'date','item_group':'optionproductGroup','member_no_cr':'cr_ncpId','member_no_bf':'bf_ncpId','item_id':'option',
                                            'user_count_cr':'cr_optUserCount','user_count_bf':'bf_optUserCount','testdomainYn_cr':'cr_testdomainyn','testdomainYn_bf':'bf_testdomainyn','tenant_id_cr':'cr_tenantId','tenant_id_bf':'bf_tenantId',
                                            'seller_id_cr':'cr_partnerDomainId','seller_id_bf':'bf_partnerDomainId','pmnt_plan_start_ymd_cr':'cr_optPaymentPlanStartDate','pmnt_plan_start_ymd_bf':'bf_optPaymentPlanStartDate',
                                            'pmnt_plan_end_ymd_cr':'cr_optPaymentPlanEndDate','pmnt_plan_end_ymd_bf':'bf_optPaymentPlanEndDate','ncpIdYn_cr':'cr_ncpIdYn','ncpIdYn_bf':'bf_ncpIdYn','odPartnerStatus_cr':'cr_odPartnerStatus','odPartnerStatus_bf':'bf_odPartnerStatus'})

In [35]:
merged_option.to_csv('/Users/user/Documents/진행중 업무/option_integrated_data.csv',index=False)

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
plt.rcParams['font.family'] = 'AppleGothic'

In [35]:
merged_base = pd.read_csv('/Users/user/Documents/진행중 업무/base_integrated_data.csv')
merged_option = pd.read_csv('/Users/user/Documents/진행중 업무/option_integrated_data.csv')

/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_77819/3347155151.py:1: DtypeWarning: Columns (10,11,15,17,18,21,22,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_base = pd.read_csv('/Users/user/Documents/진행중 업무/base_integrated_data.csv')

In [ ]:
# 커스텀 함수 정의: 중복된 값은 콤마로 연결
def join_values(values):
    return ', '.join(map(str, values))

# 데이터를 피벗하여 productGroup을 컬럼으로 변환
result = merged_base.pivot_table(
    index=['domainId', 'date'],   # 고유한 행 식별을 위한 인덱스
    columns='productGroup',      # 컬럼으로 변환할 값
    values='plan_cr',            # 채울 값
    aggfunc=lambda x: join_values(x)  # 커스텀 함수 사용
).reset_index()

# 컬럼 정리 (productGroup 컬럼의 MultiIndex 제거)
result.columns.name = None  # 컬럼 이름 제거
result = result.rename_axis(None, axis=1)  # 축 이름 제거

# 결과 출력
print(result)

In [36]:
merged_base['plan_prefix'] = merged_base['plan_cr'].str[:3]

def preprocess3(df):
    conversion_row = df[df['groupType_cr'] == 'Paid'].sort_values('date').head(1)
    if not conversion_row.empty:
        conversion_date = conversion_row.iloc[0]['date']
        df['전환여부'] = 'Y'
        df['전환일'] = conversion_date
    else:
        df['전환여부'] = 'N'
        df['전환일'] = None
    return df

empty_prefix_rows = merged_base[merged_base['plan_prefix'].isna() | (merged_base['plan_prefix'] == '')]
empty_prefix_rows['전환여부'] = None
empty_prefix_rows['전환일'] = None

non_empty_prefix_rows = merged_base[~(merged_base['plan_prefix'].isna() | (merged_base['plan_prefix'] == ''))]
processed_rows = non_empty_prefix_rows.groupby(['domainId', 'plan_prefix'], group_keys=False).apply(preprocess3)

merged_base = pd.concat([empty_prefix_rows, processed_rows], ignore_index=True)
merged_base

/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_77819/390935086.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  empty_prefix_rows['전환여부'] = None
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_77819/390935086.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  empty_prefix_rows['전환일'] = None
/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_77819/390935086.py:19: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  processed_rows = non_empty_prefix_rows.groupby(['domainId', 'plan_prefix'], group_keys=False).apply(preprocess3)

,domainId,date,productGroup,ncpId_cr,plan_cr,userCount_cr,testdomainyn_cr,ncpIdYn_cr,tenantId_cr,partnerDomainId_cr,...,ncpIdYn_bf,tenantId_bf,partnerDomainId_bf,paymentPlanStartDate_bf,paymentPlanEndDate_bf,odPartnerStatus_bf,groupType_bf,plan_prefix,전환여부,전환일
0,7.0,2023-01-04,웍스코어,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N,7.0,0.0,2016-10-26,2100-12-31,OD,Trial,NaN,None,None
1,7.0,2023-01-04,웍스코어,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N,7.0,0.0,2016-10-26,2100-12-31,OD,Trial,NaN,None,None
2,7.0,2023-01-04,웍스코어,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N,7.0,0.0,2016-10-26,2100-12-31,OD,Trial,NaN,None,None
3,7.0,2023-01-04,웍스코어,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N,7.0,0.0,2016-10-26,2100-12-31,OD,Trial,NaN,None,None
4,7.0,2023-01-04,웍스코어,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N,7.0,0.0,2016-10-26,2100-12-31,OD,Trial,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40066576,300186698.0,2024-12-31,웍스코어,2992862.0,COR_T,1.0,NaN,Y,300186698.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COR,N,None
40066577,300186699.0,2024-12-31,클로바노트,3451195.0,CNT_T,1.0,NaN,Y,300186699.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CNT,N,None
40066578,300186701.0,2024-12-31,웍스코어,3451201.0,COR_T,2.0,NaN,Y,300186701.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COR,N,None
40066579,300186702.0,2024-12-31,웍스코어,3451200.0,COR_STD,1.0,N,Y,300186702.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COR,Y,2024-12-31
40066580,300186703.0,2024-12-31,웍스코어,3451206.0,COR_T,1.0,NaN,Y,300186703.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COR,N,None

In [37]:
def preprocess4 (df) :

    df['전환여부'] = np.where(df['groupType_cr'].isin(['Paid','Free']), np.nan, df['전환여부'])
    df['전환일'] = np.where(df['groupType_cr'].isin(['Paid','Free']), np.nan, df['전환일'])

    return df

merged_base = preprocess4(merged_base)

In [38]:
merged_base = merged_base.drop(['plan_prefix'],axis=1)
columns_to_move = ['domainId', 'date', 'productGroup','전환여부','전환일']
merged_base = merged_base[columns_to_move + [col for col in merged_base.columns if col not in columns_to_move]]
merged_base

,domainId,date,productGroup,전환여부,전환일,ncpId_cr,plan_cr,userCount_cr,testdomainyn_cr,ncpIdYn_cr,...,plan_bf,userCount_bf,testdomainyn_bf,ncpIdYn_bf,tenantId_bf,partnerDomainId_bf,paymentPlanStartDate_bf,paymentPlanEndDate_bf,odPartnerStatus_bf,groupType_bf
0,7.0,2023-01-04,웍스코어,None,None,NaN,NaN,NaN,NaN,NaN,...,PRM_T,11450.0,NaN,N,7.0,0.0,2016-10-26,2100-12-31,OD,Trial
1,7.0,2023-01-04,웍스코어,None,None,NaN,NaN,NaN,NaN,NaN,...,PRM_T,11450.0,NaN,N,7.0,0.0,2016-10-26,2100-12-31,OD,Trial
2,7.0,2023-01-04,웍스코어,None,None,NaN,NaN,NaN,NaN,NaN,...,PRM_T,11450.0,NaN,N,7.0,0.0,2016-10-26,2100-12-31,OD,Trial
3,7.0,2023-01-04,웍스코어,None,None,NaN,NaN,NaN,NaN,NaN,...,PRM_T,11450.0,NaN,N,7.0,0.0,2016-10-26,2100-12-31,OD,Trial
4,7.0,2023-01-04,웍스코어,None,None,NaN,NaN,NaN,NaN,NaN,...,PRM_T,11450.0,NaN,N,7.0,0.0,2016-10-26,2100-12-31,OD,Trial
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40066576,300186698.0,2024-12-31,웍스코어,N,None,2992862.0,COR_T,1.0,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40066577,300186699.0,2024-12-31,클로바노트,N,None,3451195.0,CNT_T,1.0,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40066578,300186701.0,2024-12-31,웍스코어,N,None,3451201.0,COR_T,2.0,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40066579,300186702.0,2024-12-31,웍스코어,NaN,NaN,3451200.0,COR_STD,1.0,N,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40066580,300186703.0,2024-12-31,웍스코어,N,None,3451206.0,COR_T,1.0,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
merged_base.to_csv('/Users/user/Documents/진행중 업무/base_integrated_data_전환정보포함.csv', index=False)

In [ ]:
merged_base = merged_base.sort_values(by=['회원번호', '구분3', 'calc_ymd'])
merged_base2 = merged_base[merged_base['paid_여부'] == 'Y'].drop_duplicates(subset=['회원번호', '구분3'], keep='first').copy()

for member in merged_base2['회원번호'].unique():
    member_data = merged_base2[merged_base2['회원번호'] == member].sort_values(by='plan_regist').reset_index()
    
    for i in range(len(member_data)):
        current_date = member_data.loc[i, 'plan_regist']
        current_index = member_data.loc[i, 'index']
        
        previous_plans = member_data[member_data['plan_regist'] < current_date]
        
        if not previous_plans.empty:
            last_date = previous_plans['plan_regist'].max()
            last_plans = previous_plans[previous_plans['plan_regist'] == last_date]['구분3'].tolist()
            
            unique_last_plans = list(dict.fromkeys(last_plans))
            if len(unique_last_plans) > 1:
                merged_base2.at[current_index, '이전상품'] = ', '.join(unique_last_plans)
            else:
                merged_base2.at[current_index, '이전상품'] = unique_last_plans[0]
        
        same_day_plans = member_data[member_data['plan_regist'] == current_date]['구분3'].str[0:4].unique()
        if len(same_day_plans) > 1:
            merged_base2.loc[member_data[member_data['plan_regist'] == current_date]['index'], '이전상품'] = '동시구독'

In [11]:
# christmas counts

In [39]:
merged_base1 = merged_base[(merged_base['ncpIdYn_cr']=='Y')&(merged_base['testdomainyn_cr']=='N')]
merged_base1 = merged_base1[~merged_base1['ncpId_cr'].isin([2895255,3060425,3148940,3060396])]

In [40]:
christmas = merged_base1[merged_base1['date'].astype(str)=='2024-12-25']
christmas = christmas[~christmas['plan_cr'].isna()]

In [41]:
result = christmas.groupby('plan_cr').agg(
    row_count=('plan_cr', 'count'),
    userCount_cr_sum=('userCount_cr', 'sum')
).reset_index()

result

      plan_cr  row_count  userCount_cr_sum
0     APP_STD       2393           59371.0
1       APP_T         66            1819.0
2     ATT_STD       2042           52332.0
3       ATT_T         46             664.0
4      CNT_BZ          2               5.0
5      CNT_LT         11             138.0
6       CNT_T         19             515.0
7      CNT_TM          8             872.0
8      COR_FR        131            1296.0
9      COR_LT       1146           54562.0
10    COR_STD      21937          204728.0
11  COR_STD_P       5588           79991.0
12      COR_T         66             271.0
13     DRV_LT        167            1306.0
14    DRV_STD        141             650.0
15  DRV_STD_P        341            2584.0
16      DRV_T         33             200.0
17    FIN_STD       1683           44769.0
18      FIN_T         20             137.0
19    PAY_STD        189            4483.0
20      PAY_T         12             138.0
21    STG_10T          1               4.0
22     STG_1T         20             174.0
23    STG_25T          1            2150.0
24     STG_5T          5            2702.0

In [47]:
result.to_excel('/Users/user/Documents/진행중 업무/plan_counts.xlsx',index=False)

In [ ]:
a = merged_base[merged_base['date'] == '2024-12-25']
b = a[a['plan_cr']=='COR_T'].sort_values(by = 'userCount_cr', ascending =False).head(50)
b.to_excel('/Users/user/Documents/진행중 업무/trial_userdesc.xlsx',index=False)