In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [350]:
ncd_app1_1 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app1_2406.xlsx')
ncd_app1_2 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app1_2407.xlsx')
ncd_app1_3 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app1_2408.xlsx')
ncd_app1_4 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app1_2409.xlsx')
ncd_app2_1 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app2_2406.xlsx')
ncd_app2_2 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app2_2407.xlsx')
ncd_app2_3 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app2_2408.xlsx')
ncd_app2_4 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app2_2409.xlsx')
ncd_app3_1 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app3_2406.xlsx')
ncd_app3_2 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app3_2407.xlsx')
ncd_app3_3 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app3_2408.xlsx')
ncd_app3_4 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_app3_2409.xlsx')
ncd_fin1_1 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_fin1_2406.xlsx')
ncd_fin1_2 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_fin1_2407.xlsx')
ncd_fin1_3 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_fin1_2408.xlsx')
ncd_fin1_4 = pd.read_excel('/Users/user/Documents/NCD 데이터/ncd_fin1_2409.xlsx')

In [351]:
ncd2405 = pd.read_excel('/Users/user/Documents/진행중 업무/ncd_before_migration.xlsx')
ncd2405_place = ncd2405[ncd2405['청구유형코드명'] == 'WORKPLACE (Deprecated)']
boa2406 = pd.read_excel('/Users/user/Documents/BOA 데이터/boa2406.xlsx')
boa2406_place = boa2406[boa2406['구분3'] == 'WORKPLACE']
boa2407 = pd.read_excel('/Users/user/Documents/BOA 데이터/boa2407.xlsx')
boa2407_place = boa2407[boa2407['구분3'] == 'WORKPLACE']
boa2408 = pd.read_excel('/Users/user/Documents/BOA 데이터/boa2408.xlsx')
boa2408 = boa2408.drop(0)
boa2408_place = boa2408[boa2408['구분3'] == 'WORKPLACE']
boa2409 = pd.read_excel('/Users/user/Documents/BOA 데이터/boa2409.xlsx')
boa2409_place = boa2409[boa2409['구분3'] == 'WORKPLACE']

In [352]:
boa2406_place = boa2406_place.groupby(['회원번호'], as_index=False)['매출금액(당월)'].sum()
boa2407_place = boa2407_place.groupby(['회원번호'], as_index=False)['매출금액(당월)'].sum()
boa2408_place = boa2408_place.groupby(['회원번호'], as_index=False)['매출금액(당월)'].sum()
boa2409_place = boa2409_place.groupby(['회원번호'], as_index=False)['매출금액(당월)'].sum()
boa2406_place

         회원번호       매출금액(당월)
0        1431  156599.876146
1        1449   78029.773857
2        1938  123020.000000
3      772026  294523.786784
4      773714   81159.231360
...       ...            ...
2047  3335241       0.000000
2048  3337039   27000.000000
2049  3342764    1080.000000
2050  3345218   14565.789474
2051  3346860    5997.728133

[2052 rows x 2 columns]

In [353]:
def sales_merge (ncd, boa) :
    ncd = ncd.copy()
    ncd['회원번호'] = ncd['회원번호'].astype(int)
    boa = boa.copy()
    boa['회원번호'] = boa['회원번호'].astype(int)
    ncd = ncd.merge(boa[['회원번호','매출금액(당월)']], on = '회원번호', how = 'left')
    ncd.rename(columns={'매출금액(당월)': '도메인별경영지원총매출'}, inplace=True)
    return ncd

ncd_app1_1 = sales_merge(ncd_app1_1, boa2406_place)
ncd_app2_1 = sales_merge(ncd_app2_1, boa2406_place)
ncd_app3_1 = sales_merge(ncd_app3_1, boa2406_place)
ncd_fin1_1 = sales_merge(ncd_fin1_1, boa2406_place)
ncd_app1_2 = sales_merge(ncd_app1_2, boa2407_place)
ncd_app2_2 = sales_merge(ncd_app2_2, boa2407_place)
ncd_app3_2 = sales_merge(ncd_app3_2, boa2407_place)
ncd_fin1_2 = sales_merge(ncd_fin1_2, boa2407_place)
ncd_app1_3 = sales_merge(ncd_app1_3, boa2408_place)
ncd_app2_3 = sales_merge(ncd_app2_3, boa2408_place)
ncd_app3_3 = sales_merge(ncd_app3_3, boa2408_place)
ncd_fin1_3 = sales_merge(ncd_fin1_3, boa2408_place)
ncd_app1_4 = sales_merge(ncd_app1_4, boa2409_place)
ncd_app2_4 = sales_merge(ncd_app2_4, boa2409_place)
ncd_app3_4 = sales_merge(ncd_app3_4, boa2409_place)
ncd_fin1_4 = sales_merge(ncd_fin1_4, boa2409_place)

In [355]:
ncd_app1 = pd.concat([ncd_app1_1, ncd_app1_2, ncd_app1_3, ncd_app1_4])
ncd_app2 = pd.concat([ncd_app2_1, ncd_app2_2, ncd_app2_3, ncd_app2_4])
ncd_app3 = pd.concat([ncd_app3_1, ncd_app3_2, ncd_app3_3, ncd_app3_4])
ncd_fin1 = pd.concat([ncd_fin1_1, ncd_fin1_2, ncd_fin1_3, ncd_fin1_4])
ncd_option = pd.concat([ncd_app1, ncd_app2, ncd_app3, ncd_fin1])

In [356]:
def regist_date (df) :
    min_dates = df.groupby(['회원번호', '청구유형상세코드명'])['미터링일시'].min().reset_index()
    min_dates = min_dates.rename(columns={'미터링일시': 'regist_ymd'})
    df = df.merge(min_dates, on=['회원번호', '청구유형상세코드명'], how='left')
    return df

In [357]:
ncd_option = regist_date(ncd_option)

In [358]:
ncd_regist64 = ncd_option[ncd_option['regist_ymd'] == 20240604]

In [359]:
ncd2405_place = ncd2405[ncd2405['청구유형코드명'] == 'WORKPLACE (Deprecated)']

In [360]:
ncd_regist64['regist_ymd'] = ncd_regist64['regist_ymd'].astype(str)
ncd_regist64.loc[ncd_regist64['회원번호'].isin(ncd2405_place['회원번호']), 'regist_ymd'] = 'before 20240604'

/var/folders/yj/y3b7nzyn7zv0l9bkqtj_37g40000gn/T/ipykernel_28985/3878537248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ncd_regist64['regist_ymd'] = ncd_regist64['regist_ymd'].astype(str)

In [361]:
ncd_regist_no64 = ncd_option[ncd_option['regist_ymd'] != 20240604]
ncd_option = pd.concat([ncd_regist64, ncd_regist_no64])

In [362]:
ncd_option6 = ncd_option[ncd_option['미터링일시'] == 20240630]
ncd_option7 = ncd_option[ncd_option['미터링일시'] == 20240731]
ncd_option8 = ncd_option[ncd_option['미터링일시'] == 20240831]
ncd_option9 = ncd_option[ncd_option['미터링일시'] == 20240930]

In [384]:
ncd_option = ncd_option.sort_values(by = ['회원번호','청구유형상세코드명','미터링일시'])
ncd_option_drop = ncd_option.drop_duplicates(subset = ['회원번호','청구유형상세코드명'], keep = 'first')
ncd_option6_new = ncd_option_drop[ncd_option_drop['regist_ymd'].astype(str).str[0:6] == '202406']
ncd_option7_new = ncd_option_drop[ncd_option_drop['regist_ymd'].astype(str).str[0:6] == '202407']
ncd_option8_new = ncd_option_drop[ncd_option_drop['regist_ymd'].astype(str).str[0:6] == '202408']
ncd_option9_new = ncd_option_drop[ncd_option_drop['regist_ymd'].astype(str).str[0:6] == '202409']

In [348]:
ncd_option6.to_excel('/Users/user/Documents/업무문서/ncd_option6.xlsx',index=False)
ncd_option7.to_excel('/Users/user/Documents/업무문서/ncd_option7.xlsx',index=False)
ncd_option8.to_excel('/Users/user/Documents/업무문서/ncd_option8.xlsx',index=False)
ncd_option9.to_excel('/Users/user/Documents/업무문서/ncd_option9.xlsx',index=False)

In [392]:
ncd_option6_new.to_excel('/Users/user/Documents/업무문서/ncd_option6_new.xlsx',index=False)
ncd_option7_new.to_excel('/Users/user/Documents/업무문서/ncd_option7_new.xlsx',index=False)
ncd_option8_new.to_excel('/Users/user/Documents/업무문서/ncd_option8_new.xlsx',index=False)
ncd_option9_new.to_excel('/Users/user/Documents/업무문서/ncd_option9_new.xlsx',index=False)

In [424]:
summary_list = []
def summary (df) :
    j = ['웍스 결재 서약서','웍스 결재 자원 예약','웍스 결재 전자세금계산서','웍스 재무 법인카드 연동']
    for k in range(0, len(j)) :
        i = []
        l = df[df['청구유형상세코드명']==j[k]]
        i.append(len(l))
        i.append(l['사용량'].sum())
        i.append(l['요금'].sum())
        i.append(l['도메인별경영지원총매출'].sum())

        summary_list.append(i)

summary(ncd_option6)
summary(ncd_option7)
summary(ncd_option8)
summary(ncd_option9)
summary(ncd_option6_new)
summary(ncd_option7_new)
summary(ncd_option8_new)
summary(ncd_option9_new)

In [422]:
ncd_option6 = ncd_option6[ncd_option6['회원그룹명']!='내부회원']
ncd_option7 = ncd_option7[ncd_option7['회원그룹명']!='내부회원']
ncd_option8 = ncd_option8[ncd_option8['회원그룹명']!='내부회원']
ncd_option9 = ncd_option9[ncd_option9['회원그룹명']!='내부회원']
ncd_option6_new = ncd_option6_new[ncd_option6_new['회원그룹명']!='내부회원']
ncd_option7_new = ncd_option7_new[ncd_option7_new['회원그룹명']!='내부회원']
ncd_option8_new = ncd_option8_new[ncd_option8_new['회원그룹명']!='내부회원']
ncd_option9_new = ncd_option9_new[ncd_option9_new['회원그룹명']!='내부회원']

In [426]:
summary_list = pd.DataFrame(summary_list)

In [428]:
summary_list.to_excel('/Users/user/Documents/업무문서/ncd_option_summary.xlsx',index=False)